<!--{php168}-->
<style type="text/css">
#p8_ad2_image_{$data['id']} .layer{
	background: #FFF;
	display: flex;
	flex-direction: column;
	width: {$data['width']}px;
	height: {$data['height']}px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
}
#p8_ad2_image_{$data['id']} .p8_ann_body {
	z-index: 9999;
	width: {$data['width']}px;
	height: {$data['height']}px;
	position: absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
#p8_ad2_image_{$data['id']} .p8_ann_body img{
	border-radius:20px;	
}
@media (max-width: 991px){
	#p8_ad2_image_{$data['id']} .p8_ann_body{width:60%;height:40%;}
	#p8_ad2_image_{$data['id']} .p8_ann_body img{width:100%;height:auto;}
}
</style>
<div id="p8_ad2_image_{$data['id']}" style="display: block;">
	<div class="p8_ann_body">
		<a href="$url" target="_blank"><img width="{$data['width']}" height="{$data['height']}" src="{$data['data']['media']}" title="{$data['data']['name']}" border="0" /></a>
		<span style="top:-65px;right:2px;cursor:pointer;position: absolute;width: 45px; height: 45px; background: url($RESOURCE/images/close.png) center center no-repeat" onclick="$('#p8_ad2_image_{$data['id']}').hide();"></span>
	</div>
</div>
<!--{/php168}-->