@charset "utf-8";
/* 全局样式 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,select,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
img{vertical-align: middle;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:40%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.8 "微软雅黑",Arial,SimSun,Tahoma,Helvetica,sans-serif;outline:0;}
body{background-color:#fafafa;}
a{color:#636363;outline:none;}
a:hover{color:#345a5b;text-decoration:none;}
/* 浮动 */
.relative{position:relative;}
.fl{float:left!important;}
.fr{float:right!important;}
.clearfix{*zoom:1;}
.clearfix:before,
.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.container{width:1230px;margin:0 auto;}
.layout{padding:0 15px 15px 15px;background-color:#ffffff;}
#head {
  margin: 0 auto;
  width: 1000px;
  height:39px;
  padding-top:200px;
}
#menu_out {
  margin:0 auto;
  padding-left: 0;
  width: 1000px;
}
#menu {
  height: 39px;
}
#menu ul {
  list-style: none outside none;
}
#nav {
  padding-left: 0;
}
#nav li {
  background:url(nav_line.jpg) no-repeat right center;
  float: left;
  height: 39px;
}
#nav li a {
  cursor: pointer;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  width: 97px;
}
#nav li a span {
  color: #FFFFFF;
  float: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 39px;
  text-decoration: none;
  width: 97px;
}
#body {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  width: 980px;
  height:auto;
  overflow:hidden
}
#main {width:672px;float:right}
#main .add-inner {margin-left: 10px;margin-right: 10px;}
#breadcrumb {
  background: url("icon-home.gif") no-repeat scroll 15px center #F4F4F4;
  border-radius: 4px 4px 4px 4px;
  line-height: 50px;
  padding-left: 50px;
  font-size:14px;
}
#breadcrumb a {margin-right: 5px;color: #333333;text-decoration: none;}
#page_feedback{width:96%;margin:0 auto;padding:20px 0;overflow:hidden}
#aside_second {width: 280px;float:left}
.page-title-red {
  border-bottom: 4px solid #CC0000;
  color: #CC0000;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: "微软雅黑";
  font-size:21px;
  font-weight:normal
}

.article-content li {
  background: url("icon-circle.gif") no-repeat scroll 7px center transparent;
  background-position: 16px center;
  height: 30px;
  line-height:26px;
  padding: 3px 25px 3px 29px;

     font-size:14px;
  border-bottom:#cccccc 1px dotted
}

.title-list .title-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
    float: left;
    text-align: left;
   color:#333333;
      text-decoration: none;

}
.title-list .date{float:left;color: #C0C0C0;font-size:12px;margin:0 8px;}

a:focus{outline:thin dotted}

/* Pager */
.pager {margin: 15px 3px 0;padding: 3px;font-size:14px;}
.pager A,.pager SPAN{display:inline-block; margin-right:3px; height:20px; line-height:20px; }
.pager A,.pager A:active  {display:inline-block;border:1px solid #c5c5c5; color:#1485ff; padding:0 6px;}
.pager A:hover {border:1px solid #0099FF; text-decoration:none; color:#c00;}
.pager SPAN.current {background:#1485ff; border:1px solid #1485ff; color:#fff; font-weight:bold; padding:0 6px; }
.pager SPAN.disabled {border:1px solid #c5c5c5;  padding:0 6px; color:#c0c0c0;}
.bar-hd {
  background-color: #D9D9D9;
  border-left: 10px solid #C3010A;
  height: 10px;
  margin: 10px 0;
  position: relative;
}
.block-hd {
  line-height: 30px;
}
.block-hd h3 {
  display: inline;
  float: left;
  line-height: 30px;
}
.bar-hd h3 {
  background-color: #F4F4F4;
  color: #C3010A;
  line-height: 20px;
  padding: 0 10px;
  position: absolute;
  top: -5px;
}
.block-bd {
  margin: 0 10px;
}
.aside-block {
  font-size: 12px;
}
.imgtext-h-block li {
  padding-bottom: 10px;
  padding-top: 10px;
}
.imgtext-h-block li, .imgtext-h-block .img-left, .imgtext-h-block .text-right {
  display: inline;
  float: left;
}
.imgtext-h-block li, .imgtext-h-block .img-left, .imgtext-h-block .text-right {
  display: inline;
  float: left;
}
.imgtext-h-block .img-left, .imgtext-h-block .img-left img {
  width: 50px;
}
.imgtext-h-block-145 .img-left {
  background-color: white;
  padding: 5px;
  width: 100px;
}
.imgtext-h-block li, .imgtext-h-block .img-left, .imgtext-h-block .text-right {
  display: inline;
  float: left;
}
.imgtext-h-block .text-right, .imgtext-h-block .imgtext-h-block h3 {
  width: 145px;
}
.imgtext-h-block .text-right {
  margin-left: 5px;
}
.imgtext-h-block-145 .img-left img {
  height: 65px;
  width: 100px;
}
.imgtext-h-block h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}
.imgtext-h-block-145 h3 {
  line-height: 1.6;
  margin-top: 5px;
}
.block-bd {
  margin: 0 10px;
}
.rate-list li {
  background: url("icon-circle.gif") no-repeat scroll 0px center transparent;
  display: inline;
  float: left;
  line-height: 26px;
  list-style: none outside none;
  margin-left: 0;
  text-align: right;
  padding:0 0 0 10px;
}

.rate-list .title-link {
  display: inline;
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px;
}
#main2 {width:980px;}
#page_recommendation_proposal {
  border: 1px solid #D6D6D6;
  padding: 22px 40px;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
.article-title {
  color: #0066CC;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.article .article-title {
  margin-bottom: 20px;
}

.article-header, .article-footer {
  background-color: #F4F4F4;
}
.article-header {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  text-align: center;
}
.article-header {
  margin-bottom: 30px;
}
.article-header p, .article-footer p {
  line-height: 26px;
  margin-bottom: 0;
}
.article-header span {
  margin: 0 20px;
}
#small-font, #large-font {
  cursor: pointer;
  font-style: normal;
  padding: 0 5px;
}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
.article-content{margin-bottom:40px;font-size: 16px;line-height: 180%;}
.article-content2{ margin-bottom:60px;background-color:#fafafa;padding:15px;}
.article-content2 p{ text-indent:2em;font-size:16px;color:#7a7a7a;line-height:35px;}
#message, #process_result, #section_myadvice {
  margin-bottom: 20px;
}
.tabs-border {
  background-color: #F4F4F4;
  border: 1px solid #CCCCCC;
  font-size: 16px;
  font-weight: normal;
  height: 30px;
}

.tabs-border a, .tabs-border span {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCCCCC;
  border-image: none;
  border-style: solid;
  border-width: 0 1px 1px 0;
  color: #333333;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 2px 15px 0;
  position: relative;
}
.tabs-border a.active, .tabs-border span.active {
  background-color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-top: 3px solid #1D60A8;
  padding-top: 0;
}
.section-block .active {
  color: #0985DC;
  font-weight: bold;
}
.content-border {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #D6D6D6;
  border-image: none;
  border-style: solid;
  border-width: 0 1px 1px;
}
.form {
  font-size: 12px;
  margin-bottom: 10.5px;
}
.comment-form {
  padding-top: 26px;
}
.form .form-item:before, .form-inline:before, .clearfix:before, #leadership_atlas ul:before, #leadership_atlas ul a:before, .form .form-item:after, .form-inline:after, .clearfix:after, #leadership_atlas ul:after, #leadership_atlas ul a:after {
  content: "";
  display: table;
  font: 0px/0 a;
}
.form .form-item:after, .form-inline:after, .clearfix:after, #leadership_atlas ul:after, #leadership_atlas ul a:after {
  clear: both;
}

.comment-form .inline-item {
  width: 346px;
}
.form label {
  display: block;
  font-size: 14px;
  line-height: 28px;
}
.form-horizontal label {
  display: inline;
  float: left;
  text-align: right;
  width: 100px;
}
.form .icon-required {
  color: #C3010A;
  margin-right: 5px;
}
.form .form-text {
  height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  width: 200px;
}
.form .form-text, .form textarea {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  padding: 4px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.comment-form .yourname, .comment-form .cotact-way {
  width: 200px;
}
.form .form-item .form-field-rc, .form .form-item input, .form .form-item textarea, .form .form-item select, .form .form-item .form-text {
  margin-bottom: 0;
}
.form .form-text::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #999999;
}
.comment-form .comment-mes {
  width: 724px;
}
.form-horizontal label {
  display: inline;
  float: left;
  text-align: right;
  width: 100px;
}
.form .form-item:before, .form-inline:before, .clearfix:before, #leadership_atlas ul:before, #leadership_atlas ul a:before, .form .form-item:after, .form-inline:after, .clearfix:after, #leadership_atlas ul:after, #leadership_atlas ul a:after {
  content: "";
  display: table;
  font: 0px/0 a;
}
.form .form-item:after, .form-inline:after, .clearfix:after, #leadership_atlas ul:after, #leadership_atlas ul a:after {
  clear: both;
}
.form .form-item {
  clear: both;
  margin-bottom: 10.5px;
}

.form .inline-item {
  clear: none;
  display: inline;
  float: left;
}
.form .code-pic {
  display: inline-block;
}
.form .code-pic img {
  height: 28px;
  margin: 0 5px;
  vertical-align: middle;
}
.form-horizontal .form-field, .form-horizontal .action-left {
  margin-left: 100px;
}
.p-redbtn {
  background-color: #B90109;
  color: #FFFFFF;
}
.form input, .form button, .form textarea {
  font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
  margin-bottom: 10.5px;
  vertical-align: middle;
}
.comment-form .inputbtn, .comment-form p {
  display: inline;
  float: left;
}
.form .inputbtn {
  border: 0 none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  overflow: visible;
  padding: 0 16px;
  text-align: center;
}
.form .form-action .inputbtn {
  margin-bottom: 0;
  margin-right: 10px;
}
.comment-form .inputbtn, .comment-form p {
  display: inline;
  float: left;
}

.comment-form p {
  height: 28px;
  line-height: 28px;
}
.form .icon-required {
  color: #C3010A;
  margin-right: 5px;
}
#commentValidCode{float:left}
#section_comment {
  margin-bottom: 20px;
}
#section_comment .section-bd {
  border-color: #D6D6D6;
  border-image: none;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 0 10px;
}
#section_comment .section-bd p.ads {
  background-color: #F4F4F4;
  color: #666666;
}
#section_comment .section-bd p {
  line-height: 30px;
  padding: 0 9px;
}
#section_comment .section-bd .comment-list {
  padding-top: 15px;
}
#section_comment .section-bd li {
  padding-bottom: 15px;
}
#section_comment .section-bd p {
  line-height: 30px;
  padding: 0 9px;
}

.article-footer {
  border-top: 1px solid #CCCCCC;
  margin-bottom: 10px;
  text-align: right;
}
.article-header, .article-footer {
  background-color: #F4F4F4;
}

.mszx{margin:15px auto 0;border: 1px solid #D6D6D6;border-bottom:none;padding:3px 5px;overflow:hidden}
.mszx .tt{background:#2292e6;width:20px;height:103px;padding-top:20px;color:#fff;font-weight:bold;text-align:center;margin-right:8px;float:left}

.mszx ul li {display: inline;float: left;margin: 6px 6px 0;overflow: hidden;text-align: center;}
.mszx img {border: 1px solid #CCCCCC;padding:3px;}
.mszx .label_pic_title {font-size: 12px;height: 38px;line-height: 21px;overflow: hidden;}

.frdlink{border: 1px solid #D6D6D6;padding:2px;}
.frdlink .inner{background:#eef4f4;font-size:12px;overflow:hidden}
.frdlink .inner b {font-weight:bold;font-size:14px;float:left;margin:8px 5px;}
.frdlink .inner .con{width:90%;margin:5px 0;line-height:24px;}

/*微博*/
.Gover_height04 {height:auto;overflow: hidden;}
.Ann_Box {border: 1px solid #E4E4E4;padding: 1px;width:668px;}
.Gover_Beji {background: url("zwgk_05.jpg") repeat-x scroll 0 0 transparent;height: 100%;}
.Ann_border {background: url("zwgk_12.jpg") no-repeat scroll 0 bottom transparent;height: 30px;line-height: 30px;margin: 0 auto;width: 650px;}
.Ann_dl, .Ann_Dt {float: left;width: 367px;}
.Ann_Dt dt {background: url("zwgk_ico04.jpg") no-repeat scroll 5px center transparent;color: #CC0001;display: block;float: left;font-size: 14px;font-weight: bold;padding-left: 22px;width: 60px;}
.wblist {margin:18px 0 18px 15px;overflow:hidden}
.wblist li{background:url(icon-blue4.gif) no-repeat left center;width:200px;padding-left:14px;line-height:24px;font-size:12px;float:left}
/* survey 在线调查 */
#survey_body .header{background: url(../gkbg.png) repeat-x;height:167px;}
#survey_body .header .logo{margin-top:37px;}
#survey_body .header .logo img{max-width:100%;height:auto;}
#survey_body .hlogin{position:absolute;top:20px;right:0;}
#survey_body .hlogin,#survey_body .hlogin a{color:#fff;}
#survey_body .searchform {width:200px;height:30px;border: 1px solid #c1c1c1;display:none;position: absolute;right: 0px;top:40px;overflow:hidden;}
#survey_body .searchform .keyword{width:150px;padding:0 10px;height:30px;line-height:30px;border:none;background:#fff;float:left;text-align:center;}
#survey_body .searchform .submitbtn{background:url(searchbtn.png) center center no-repeat;width:30px;height:30px;border:none;float:left;}
#survey_body .banner img{display: block;width: 100%;height:auto;}
#survey_body .symain .hdline{padding:15px 0 14px 0;border-bottom:1px solid #eeeeee;text-align:right;color:#cc0000;font-weight:bold;}
#survey_body #main3 {width: 780px !important;margin:0 auto;clear:both}
#main .add-inner {margin: 0;border:#ebebeb 1px solid;}
.section {padding: 20px 20px 50px;}
.section:before, .section:after {content: "";display: table;font: 0px/0 a;}
.section:after {clear: both;}
.section .hd:before, .section .hd:after {content: "";display: table;font: 0px/0 a;}
.section .hd:after {clear: both;}
#survey_body h1,#survey_body h2,#survey_body h3,#survey_body h4 {font-family: "微软雅黑";}
.section .hd h2 {float: left;font-size: 24px;}
.page-title-green {color: #1B6102;font-weight: bold;}
.section .bd:before, .section .bd:after {content: "";display: table;font: 0px/0 a;}
.section .bd:after {clear: both;}
.section .bd {padding: 0 70px;}
#survey_body #SurveyTitle {color: #003f46;font-size:30px;margin-bottom: 20px;padding: 20px 0;text-align: center;}
#survey_body dd, #survey_body dt {margin-right: 10px;}
#survey_body .dl_Title_box{font-size:16px;color:#065d66;line-height: 30px;margin-bottom:25px;}
#survey_body .sytitle{font-size:16px;color:#065d66;line-height:30px;display:block;margin-bottom:10px;}
#survey_body .dl_Content_box {line-height: 24px;margin-bottom: 10px;margin-left: 0;}
#survey_body .dl_Content_box li{color:#777;margin-bottom:10px;}
#survey_body .dl_Content_box input {margin: 0 10px 0 10px;}
#survey_body .dl_Content_box textarea {margin-left: 20px;overflow: auto;vertical-align: top;resize: vertical;font-size: 100%;}
#survey_body .dl_Content_code {border-bottom:1px solid #eeeeee;line-height: 24px;margin-bottom: 10px;margin-left: 0;}
#survey_body .submit {margin: 30px 0;}
#survey_body .submit input {width:138px;height:40px;line-height:40px;background-color:#f39800;border: medium none;color: white;font-size: 16px;text-align:center;margin-right:37px;}
#survey_body .submit .see{width:138px;height:40px;line-height:40px;display:inline-block;background-color:#b3d465;color: white;font-size: 16px;text-align:center;}
#survey_body .footer{border-top:2px solid #345a5b;background-color:#eeeeee;}
#survey_body .footer .copyright{padding:30px 0;font-size:12px;color:#676767;text-align:center;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
.block_126{color:#333333}
.process{height:10px; background:#ffffff; width:300px}
.process_i{height:10px; background:#8E3C3E;}