.letter_main{width:95%;min-width:750px; margin:0 auto}
.headerbar {background:url(email4_2_bar1.gif) no-repeat;height:29px;font-size:12px;font-weight:normal; }
.headerbar  td{border-top:1px solid #F8E0A2}
.nav_name{font-size:16px;color:#9A2A14; font-weight:bold; line-height:25px;}
.search_box{font-weight:bold; padding-top:10px}
.formtable td,.formtable th{text-align:center}
.formtable .head th{border-left:1px solid #fefefe}
.formtable ,.formtabletwo{ width:100%;background:#fff;_margin-right:-15px;}
.formtable td { color:#484848; padding:5px; line-height:25px; }
.formtable td a{color:#484848;text-decoration:none;}
.formtable td p { padding:5px 10px;}
.formtable td span.text_r {padding-right:10px;text-align:right;float:left;width:120px;}
.formtable td span.opion_radio {padding-left:10px;text-align:left;float:left;width:120px;}
.formtable td.tdL { width:300px; border-right:#EFEFEF solid 1px; }
.formtable td.tdL2{border-right:#EFEFEF solid 1px;}
.formtable td.tdR {}
.formtable td a.edit_btn {color:#fff;text-decoration:none;}
.columntable .title td { color:#fff; border-right:1px solid #fff; border-bottom:none;text-align: center;white-space: nowrap;vertical-align: middle; }
.columntable td { border-right:1px solid #EFEFEF; border-bottom:1px solid #EFEFEF; }
.letter_list_table .status_0{background-color:red;color:#ffffff;padding:3px}
.letter_list_table .status_1{background-color:#740774;color:#ffffff;padding:3px}
.letter_list_table .status_2{background-color:#FFB90F;color:#ffffff;padding:3px}
.letter_list_table .status_3{background-color:#0F96E5;color:#ffffff;padding:3px}
.letter_list_table .status_4{background-color:green;color:#ffffff;padding:3px}
.red,a.red {color:#F7080E; padding:0 5px; font-weight:bold}
.letter_top{background:#3386D2 url(letter_top.jpg) no-repeat left top;width:95%;height:166px;margin:0 auto;overflow:hidden;clear:both}
.letter_top ul{margin-top:42px;margin-left:573px;font-size:14px;}
.nav_menu{background:#0f96e5;height:50px;line-height:50px;}
.nav_menu ul{width:100%;}
.nav_menu li{background:url(letter_nav_line.jpg) no-repeat right center;padding:0 30px;text-align:center;float:left}
.nav_menu li.course{float:right;}
.nav_menu li.course img{margin-bottom:-2px;}
.nav_menu li a{color:#fff;font-size:14px;font-weight:bold;text-decoration:none}
#list_form{border-top:#EFEFEF solid 3px;margin-top:10px;}