<!--{php168}-->
$label[澶撮儴棰勭暀鏍囩?]
<div class="gov_top_bar">
	<div class="top_bar">
		<div id="header_login">	
		</div>
		<script type="text/javascript" src="{$core.U_controller}/member-login?style=1&id=header_login"></script>
		<div id="header_t">
			<a href="javascript:void(0)" onclick="try{window.external.AddFavorite('{$core.url}', '{$core.CONFIG['site_name']}');}catch(e){window.sidebar.addPanel('{$core.CONFIG['site_name']}', '{$core.url}', '');}" class="each_item">鏀惰棌鏈?珯</a>|
			<a href="javascript:void(0)" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$core.url}');" class="each_item">璁句负棣栭〉</a>|
			<!--{if !empty($LINKRSS)}--><a href="$LINKRSS[url]" class="each_item">RSS璁㈤槄<span class="rss"></span></a><!--{/if}-->
		</div>
	</div>
</div>
<!--{/php168}-->
