@charset "utf-8";
/* CSS Document */
body { margin:0; padding:0; font-size:12px; font-family:"微软雅黑", "宋体", Arial, Helvetica, sans-serif; line-height:150%; background:#ffffff; text-align:left; }
div, ul, li, form, h1, h2, h3, h4, h5, a, p, dl, dt, dd { margin:0px; padding:0px; }
ul, li { list-style:none; }
h1, h2, h3, h4, h5 { font-size:12px; font-weight:normal; }
img { border:none; }
a:link, a:visited { color:#000000; text-decoration:none; }
a:hover { color:#ff0000; text-decoration:underline; }
.body {overflow: hidden;}
#wrapper {width: 100%;overflow: hidden;}
/*外框宽*/
.wrap, .footer { width:990px; margin:0 auto; }
/*公共样式*/
.mtop { margin-top:5px; }
.pull-left{float:left;}
.pull-right{float:right;}
/*清除溢出*/
.clear { clear:both; height:1px; margin-top:-1px; overflow:hidden; }
/*顶部*/
.header { margin-top:10px; width:100%; min-width:990px; background:url(top_bj.gif) repeat-x; }
.header .h_top { height:18px; text-align:right;padding-right:30px}
.header .h_top  .htl_tips { background:url(tips.gif) no-repeat; color:#ff0000; padding-left:18px; margin-right:20px }
.header #logo { float:left; padding-left:10px; }
.header .h_middle { height:75px; }
.header .h_middle .top_ad { height:38px; width:700px; float:right; }
#topmenu { width:700px; padding-right:20px; float:right; height:28px; text-align:right; }
#topmenu ul{ width:auto; float:right}
#topmenu li { float:left; height:28px; margin-left:10px; display:block; }
#topmenu li a { padding:5px 10px; font-weight:bold; display:block; text-decoration:none; }
#topmenu .over { background:url(topmenu.gif) no-repeat; }
#topmenu .over a { background:url(topmenu.gif) no-repeat right -28px; color:#ffffff; }
#secmenu { height:20px; }
#secmenu li { padding:0 10px; float:right; }
/*左部内容*/
.blockleft { float:left; width:235px;height: 100%;background:#363636; }
.sidenav li{position:relative;display:block;}
.sidenav li a{display:block;font-size:14px;padding:16px 80px;color:#fff;text-decoration:none;}
.sidenav li.active a{background:#212121;color:#22b5e1;border-left:2px solid #20b5e5;}
#userpanel { height:180px; background:url(usinfo_bg.gif) repeat-x; }
#userpanel #lefttitle { padding:3px 20px; }
#userpanel .usermain #userpanel_logo { float:left; width:89px; height:89px; border:1px solid #ccc;margin-right:8px }
#userpanel .usermain { padding:10px 5px 10px 10px }
#userpanel .usermain .userpanel_info {height:90px; clear:right }
#userpanel .usermain .userpanel_info .morecate { color:#09F; }
#userpanel .usermain .userpanel_info ul { padding-left:10px; }
#userpanel .usermain .userpanel_info ul li { color:#666; }
#userpanel .usermain .userpanel_info .username { color:#ff0000; font-weight:bold; }
#userpanel .underuserinfo { padding:10px 8px; clear:both; }
#userpanel .usermain .l_icon { background:url(icon_userpanel.gif) no-repeat; padding-left:15px; color:#2C602F; }
#userpanel .usermain .l_info { background:url(jiben.gif) no-repeat; padding-left:18px; color:#2C602F; }
.blockleft .mindex {background:#212121;border-left:2px solid #20b5e5;}
.blockleft .mindex a{display:block;font-size:16px;color:#20b6e3;padding:16px 0 16px 78px;background:url(home.png) 50px center no-repeat;text-decoration:none; }
.blockleft .left_menu .lm_title {background:url(ico14.png) 50px center no-repeat;font-size:16px;padding:16px 0 16px 80px;color:#fff;border-bottom:1px solid #2b2b2b;}
.blockleft .left_menu .lm2,.blockleft .left_menu .lm56{background:url(ico12.png) 50px center no-repeat;}
.blockleft .left_menu .lm7{background:url(ico13.png) 50px center no-repeat;}
.blockleft .left_menu .lm11,.blockleft .left_menu .lm50{background:url(ico14.png) 50px center no-repeat;}
.blockleft .left_menu .lm17{background:url(ico16.png) 50px center no-repeat;}
.blockleft .left_menu .lm_main .lm_sty1 li{}
.blockleft .left_menu .lm_main .lm_sty1 li a{display:block;font-size:14px;padding:16px 0 16px 80px;color:#fff;text-decoration:none; }
.blockleft .left_menu .lm_main .lm_sty1 li a:hover{color:#20b6e3;background:#212121;}
.blockleft .left_menu .lm_main .lm_sty1 .add { color:#99C; padding-left:10px; }
.blockleft .left_menu .lm_main .lm_sty2 li { background:url(lmsty2.gif) no-repeat; margin:0 auto; margin-top:10px; width:140px; padding:8px 0 8px 50px; }
.blockleft .left_menu .lm_main .lm_sty2 a { color:#99C; }
.blockleft .left_menu .l_bottom { border-top:1px dashed #cccccc; padding:10px; color:#2C602F; }
.blockleft .left_menu .lb_li li { color:#444; padding:5px 10px; }
.blockleft .left_menu .lb_li .lb_num { color:#F63; padding:5px 10px; }
/****/
/*下拉菜单*/
.menu{float:right;margin:10px;}
.dropbtn {background-color: #4CAF50;color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;}
.dropdown {position: relative;display: inline-block;}
.dropdown-content {text-align:center;display: none;position: absolute;background-color: #f9f9f9;min-width: 96px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*右部*/
.blockright {height:100%;background:#f3f3f4;overflow: hidden;_float: left;_zoom: 1; }
.memberhead{height:70px;border-bottom:1px solid #e7eaec;}
.welcome{float:left;margin-left:35px;}
.welcome h3{font-size:18px;color:#363636;padding-left:45px;line-height:70px;background:url(ico01.png) left center no-repeat;}
.mnav{float:right;margin-right:20px;}
.mnav ul{overflow:hidden;}
.mnav li{float:left;margin:16px 5px;}
.mnav li a{display:block;color:#292929;font-size:14px;text-decoration:none;padding:10px 5px 10px 25px;cursor:pointer;}
.mnav li.li1 a{background:url(ico38.png) left center no-repeat;}
.mnav li.li2 a{background:url(ico03.png) left center no-repeat;}
.mnav li.li3 a{background:url(ico04.png) 8px center no-repeat;}
.mnav li.li4 a{background:url(ico05.png) 8px center no-repeat;}
.mnav li.li5 a{background:url(home2.png) 8px center no-repeat;color:blue;font-weight:600;}
.mnav li.li6 a{background:url(ico39.png) left center no-repeat;}
.mnav li.li7 a{padding-left:20px;background:url(ico43.png) left center no-repeat;}
.mnav li.li7 a span{color:#fff;margin-left:4px;padding:0 5px;background:#f29b76;border-radius:4px;}
#offcanvasRight{height: 100%;z-index:9999;position: fixed;display: block;width: 513px;top:71px;right: -600px;background-color: #FFFFFF;box-shadow: -2px 0px 6px 0px #cfcbcb;-webkit-box-shadow: -2px 0px 6px 0px #cfcbcb;overflow: auto;}
.offcanvas-box{width:100%;height:100%;position:relative;}
.offcanvas-header{height:26px;line-height:26px;padding: 15px 15px;color:#3b3b3b;}
.offcanvas-header .offcanvas-title{font-size:16px;}
.offcanvas-header .btn-sign{font-size: 14px;line-height: 16px;padding-left:28px;background: url(ico44.png) left center no-repeat;border:none;font-weight: 400;-webkit-filter: brightness(0.5);}
.offcanvas-header .btn-sign i{display:inline-block;width:11px;height:8px;margin-left:5px;background: url(ico45.png) left center no-repeat;}
.offcanvas-header .btn-sign.on i{ transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);}
.offcanvas-footer{border-top:1px solid #D1D3D4;height:26px;padding: 8px 16px !important;}
.offcanvas-scroller{overflow: auto;zoom: 1;position: relative;}
.offcanvas-body{position: relative;padding:0 15px;overflow: hidden;background-color:#ffffff;}
.offcanvas-table .head td{color:#000;font-size:15px;border:0;background-color: #f8f8f9;font-weight:bold;}
.offcanvas-table{table-layout: fixed;}
.offcanvas-table td{padding:10px 5px;}
.offcanvas-table .name{height:20px;line-height: 20px;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;padding: 3px 3px 3px 5px;white-space: nowrap;}
.offcanvas-table .name a{color:blue;font-size:16px;}
.offcanvas-table tr.hover_tr{background:#ebf7ff;}
.offcanvas-pages .pages{padding:0;}
.pages-list li{float:left;margin:0 4px;font-size:14px;line-height:27px;}
.pages-list li a{display:block;width:27px;height:27px;padding:0;border:0;}
.pages-list li a:hover{padding:0;border:0;}
.pages-list li a.prev{background: url(page-prev.png) no-repeat;background-size:cover;}
.pages-list li a.next{background: url(page-next.png) no-repeat;background-size:cover;}
.pages-list li a.prev.s{background: url(page-prev-on.png) no-repeat}
.pages-list li a.next.s{background: url(page-next-on.png) no-repeat}
.pages-list li .num{width:46px;padding:4px 7px;text-align:center;margin:0 4px;border-radius: 0 2px 2px 0;border:1px solid #e6e6e6;}
.offcanvas-mask{position: fixed;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;filter: alpha(opacity = 0);z-index: 2000;}
.offcanvas-tabs .tabs{height: 44px;margin-bottom: 20px;border: 0;border-bottom: 2px solid #dee4e8;}
.offcanvas-tabs .tabs li{height: 42px;line-height: 42px;margin-right:25px;font-size: 16px;float:left;}
.offcanvas-tabs .tabs li a{text-decoration:none;}
.offcanvas-tabs .tabs li a.active{border-bottom: 4px solid #3472ef !important;}
.offcanvas-tabs{padding:0 15px;}
.offcanvas-tabs .tab-content {display: none;}
.offcanvas-tabs .active {display: block;}
.offcanvas-dropdown{position:relative;}
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;width:100%;padding: 5px 0;margin: 2px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, .15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu>li>a{display: block;padding: 3px 20px;color: #333;background: url(arr.png) 10px center no-repeat;white-space: nowrap;text-decoration:none;}
.dropdown-menu>li>a:hover{color:#3472ef;}
#closeButton{position:absolute;top:15px;right:20px;}
.offside-file-detail.right-panel{position: fixed;top:71px;right: -820px;width:820px;height: calc(100% - 71px);-webkit-box-shadow: 0px 12px 17px rgba(0, 0, 0, .12);box-shadow: 0px 12px 17px rgba(0, 0, 0, .12);-webkit-transition: padding .1s;transition: padding .1s;background: #fff;z-index:9999;-webkit-transition: right .1s;transition: right .1s;}
.offside-file-detail.right-panel.show {right: 0 !important;z-index: 29;}
.offside-head{height: 26px;line-height: 26px;padding: 15px 15px;color: #3b3b3b;position:relative;background-color: #f7f7f7;}
.offside-title{font-size: 16px;}
.offside-close{width:30px;height:30px;border-radius: 50%;position:absolute;top:10px;right:10px;}
.offside-close .icon-close{width:100%;height:100%;display:block;background: url(icon_close.png) center center no-repeat;}
.offside-close:hover{background: #f3f4f8;}
.offside-mian{margin:0 10px;}
.offside-mian .offside-table td{padding:15px 10px !important;}
.link_btn {color:#333;background:#eeeeee; padding:5px 10px;display:inline-block;margin:15px 5px 0 5px;text-decoration:none;border-radius:15px;}
.link_btn i {width: 14px;height: 14px;margin-bottom: -2px;margin-right: 4px;display: inline-block;}
.link_btn.btn1 i{background: url(ico46.png) center center no-repeat;}
.link_btn.btn2 i{background: url(ico47.png) center center no-repeat;}
.link_btn.btn3 i{background: url(ico48.png) center center no-repeat;}
.php168_dialog { position: absolute;border:0 !important;background-color: #ffffff;-webkit-box-shadow: 0px 12px 17px rgba(0, 0, 0, .12);box-shadow: 0px 12px 17px rgba(0, 0, 0, .12);transition: all 0.3s;width: 400px; height: 200px; }
.php168_dialog .title_bar { padding:12px 15px; background-color: #f7f7f7;border-bottom:1px solid #e5e9eb; cursor: move; }
.php168_dialog .title { color:#282828;font-size:18px;}
.php168_dialog .close { float: right; cursor: pointer; width: 18px; height: 18px;background: url(icon_close.png) center center no-repeat !important;opacity:1; }
.php168_dialog .content{height: auto !important;}
/*底部*/
.footer { font-family:Tahoma; text-align:center; margin-top:10px; padding:10px 0px; border-top:1px solid #CBCBCB; }
/*主体内容*/
