<!--{php168}-->
<!--{template $core header admin}-->
<div class="mainbox mainborder">
	<div class="section">
		<table class="formtable">
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li><a href="{$core.admin_controller}/core-yichangzhanghao"><i class="fa fa-signal"></i>异常账号</a></li>
						<li><a href="{$core.admin_controller}/core-anquanshejiyuan"><i class="fa fa-refresh"></i>安全审计账号</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="mainbox mainborder">
	<div class="section">
		<table width="100%" border="0"  class="mainbox">
			<tr>
				<td>
					<ul class="boxmenu">
						<li class="btn-color1"><a href="{$core.admin_controller}/core-anquanshejiyuan"><i class="icon icon-ico10"></i>安全审计员</a></li>
						<li class="btn-color2"><a href="{$core.admin_controller}/core-anquangly"><i class="icon icon-ico10"></i>安全管理员</a></li>
						<li class="btn-color3"><a href="{$core.admin_controller}/core-xitonggly"><i class="icon icon-ico10"></i>系统管理员</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<table class="columntable formtable">
			<tr class="title fix_head">
				<td colspan="2" class="title"><i class="icon icon-ico54" style="margin-bottom: -5px;"></i>XXXXXXXXX</td>
			</tr>
			<tr>
				<td>
					<div class="explain">
						<strong>XXXXXXXXX</strong><br />
						1、XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br />
						2、XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br />
						3、XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<!--{template $core footer admin}-->
<!--{/php168}-->
