<!--{php168}-->
<!--{template $core header admin}-->
<div class="mainbox mainborder">
	<div class="section">
		<table class="formtable">
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li><a href="{$core.admin_controller}/core-cache"><i class="fa fa-refresh"></i>一键更新网站缓存</a></li>
						<li><a href="{$core.admin_controller}/cms-html_all"><i class="fa fa-wpforms"></i>一键静态网站内容</a></li>
					</ul>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<form action="$this_url" method="POST" id="cache">
<div class="mainbox mainborder">
	<div class="section">
		<table width="100%" border="0"  class="mainbox">
			<tr>
				<td>
					<ul class="boxmenu">
						<li class="btn-color1"><a href="{$core.admin_controller}/core-cache"><i class="icon icon-ico44"></i>更新网站缓存</a></li>
						<li class="btn-color5"><input type="submit" value="{$P8LANG['cache_unlock']}" onclick="this.form.type.value='unlock'" class="cache-btn" /></li>
					</ul>
				</td>
			</tr>
		</table>
	
		<table class="columntable formtable">
			<tr class="title fix_head">
				<td class="title">{$P8LANG['update_all_cache']}</td>
			</tr>
			<tr>
				<td class="headerbtn_list" align="center" style="border-bottom:0;">
					<input type="submit" value="{$P8LANG['cache_all']}" class="cache_btn cache_one" />
					<span class="ab_c">点击此处可以更新网站的全部缓存操作</span>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="mainbox mainborder">
	<div class="section">
		<table class="columntable formtable">
			<tr class="title fix_head">
				<td class="title">{$P8LANG['update_choice_cache']}</td>
			</tr>
			
			<tr>
				<td class="headerbtn_list" align="center" style="border-bottom:0;">
					<p><input type="submit" value="{$P8LANG['cache_index']}" class="cache_btn2" onclick="do_cache('base')" size="30"/><span class="ab_c">{$P8LANG['cache_note_3']}</span> </p>
					<p><input type="submit" value="{$P8LANG['cache_system_module']}" class="cache_btn2" onclick="do_cache('system_module')" /></p> 
					<p><input type="submit" value="{$P8LANG['cache_label']}" class="cache_btn2" onclick="do_cache('label')" size="30"/><span class="ab_c">{$P8LANG['cache_note_2']}</span></p>
					<p><input type="submit" value="{$P8LANG['cache_template']}" class="cache_btn2" onclick="do_cache('template')" size="30"/> <span class="ab_c">{$P8LANG['cache_note_4']}</span></p>
					<p><input type="submit" value="{$P8LANG['cache_menu']}" class="cache_btn2" onclick="do_cache('menu')" size="30"/> <span class="ab_c">{$P8LANG['cache_note_5']}</span></p>					
					<p><input type="button" value="{$P8LANG['clear_page_cache']}" class="cache_btn2" onclick="ajaxing({'text':'缓存中…'});window.location.href = '{$core.admin_controller}/core/role-cache'" /><span class="ab_c">{$P8LANG['cache_note_1']}</span></p>
					<!--{if $sites_enable}-->
					<p><input type="button" value="{$P8LANG['cache_sites']}" class="cache_btn2" onclick="ajaxing({'text':'缓存中…'});window.location.href = '{$core.admin_controller}/sites/farm-cache'" /><span class="ab_c">{$P8LANG['cache_note_6']}</span></p>
					<!--{/if}-->
				   <input type="hidden" name="type" id="cache_type" value="all" /> </td>
			</tr>
		</table>
	</div>
</div>
</form>
<script type="text/javascript">
	function do_cache(cache_type){		
		$('#cache_type').val(cache_type);
		//ajaxing({'text':'缓存中…'});
		$('#cache').submit();	
	}
</script>
<!--{template $core footer admin}-->
<!--{/php168}-->