<!--{php168}-->
<!--{template $core header admin}-->
<script type="text/javascript" src="{$RESOURCE}/js/rcalendar.js"></script>
<div class="mainbox mainborder">
	<div class="section">
		<table class="formtable">
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li class="li1"><a href="{$core.admin_controller}/$SYSTEM-log"><i class="fa fa-list-ul"></i>所有操作日志 </a></li>						
						<li class="li1"><a href="{$core.admin_controller}/$SYSTEM-log?system=core"><i class="fa fa-wpforms"></i>模块操作日志 </a></li>
						<!--{foreach $list_systems $k $v}-->
						<!--{if $v['installed'] && $v['enabled']}-->
						<li class="li2 <!--{php echo $system==$k?'active':'';}-->"><a href="{$core.admin_controller}/$SYSTEM-log?system=$k"><i class="fa fa-wpforms"></i>{$v['alias']}日志</a></li>
						<!--{/if}-->
						<!--{/foreach}-->
						<li class="li1"><a href="{$core.admin_controller}/core-plant" target="_blank"><i class="fa fa-wpforms"></i>安全审计员面板 </a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<!--{if $list_modules}-->
<div class="mainbox mainborder">
	<div class="section">
		<table class="columntable formtable">
			<tr class="title fix_head">
				<td class="title">模块操作日志</td>
			</tr>
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li class="li1"><a href="{$core.admin_controller}/$SYSTEM-log?word=/$system/u.php">前台操作日志 </a></li>
						<!--{foreach $list_modules $k $v}-->
						<!--{if $v['installed'] && $v['enabled']}-->
						<li class="li2"><a href="{$core.admin_controller}/$SYSTEM-log?word=/$system/$k">{$v['alias']}日志</a></li>
						<!--{/if}-->
						<!--{/foreach}-->
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
<!--{/if}-->
<form action="$this_url" method="get" id="request">
<div class="mainbox mainborder">
	<div class="section">
		<div class="mr20" style="text-align:center;">		
			系统：
			<select name="system" id="system" onchange="if(this.value) _get_modules(this.value)">
				<option value="" class="_top_option">{$P8LANG['unlimited']}</option>
				<option value="core"{if $system == 'core'} selected{/if}>{$P8LANG['core']}</option>
				<!--{foreach $list_systems $k $v}-->
				<!--{if $v['enabled']}-->
				<option value="$k"{if $system == $k} selected{/if}>{$v['alias']}</option>
				<!--{/if}-->
				<!--{/foreach}-->
			</select>
			<!--{if $all_sites}-->
			分站：
			<select name="site">
				<option value="" class="_top_option">{$P8LANG['select_site']}</option>
				<!--{foreach $all_sites $k $v}-->
				<option value="$k" {if $site == $k} selected{/if}>{$v['sitename']}</option>
				<!--{/foreach}-->
			</select>
			<!--{/if}-->
			模块：
			<select name="module" id="module" onchange="_module=this.value;_get_actions('admin_actions');">
				<option value="" class="_top_option">{$P8LANG['unlimited']}</option>
			</select>
			操作:
			<select name="action" id="action">
				<option value="" class="_top_option">选择常规操作</option>
				<option value="add" {if $action == 'add'} selected{/if}>添加内容</option>
				<option value="update"{if $action == 'update'} selected{/if}>修改内容</option>
				<option value="delete"{if $action == 'delete'} selected{/if}>删除内容</option>
				<option value="verify"{if $action == 'verify'} selected{/if}>审核内容</option>
				<option value="login"{if $action == 'login'} selected{/if}>{$P8LANG['login']}</option>
				<option value="logout"{if $action == 'logout'} selected{/if}>{$P8LANG['logout']}</option>
				<option value="addmember"{if $action == 'addmember'} selected{/if}>添加账号</option>
				<option value="updatemember"{if $action == 'updatemember'} selected{/if}>修改账号</option>
				<option value="deletemember"{if $action == 'deletemember'} selected{/if}>删除账号</option>
				<option value="cluster_push"{if $action == 'cluster_push'} selected{/if}>推送数据(分站->主站)</option>								
				<option value="sites_push_sites"{if $action == 'sites_push_sites'} selected{/if}>推送数据(分站->分站)</option>
				<option value="sites_push"{if $action == 'sites_push'} selected{/if}>推送数据(主站->对接栏目)</option>
				<option value="cms_sites_push"{if $action == 'cms_sites_push'} selected{/if}>推送数据(主站->分站)</option>
			</select>			
			排序：
			<select name="order">
				<option value="0" selected="selected">降序</option>
				<option value="1">升序</option>
			</select>
			<select name="page_size">
				<option value="20" {if $page_size == 20}selected="selected"{/if}>每页20条</option>
				<option value="50" {if $page_size == 50}selected="selected"{/if}>每页50条</option>
				<option value="100" {if $page_size == 100}selected="selected"{/if}>每页100条</option>
				<option value="200" {if $page_size == 200}selected="selected"{/if}>每页200条</option>
			</select>
			<select onchange="$('#cond').attr('name', this.value);">
				<option value="word">按关键字</option>
				<option value="iid">按关联ID</option>								
				<option value="username"{if !empty($username)} selected{/if}>按用户名</option>
			</select>							
			<input type="text" class="txt" id="cond" size="15" {if !empty($word)} name="word" value="$word"{elseif !empty($id)}name="id" value="{implode(',', $id)}"{elseif !empty($username)}name="username" value="$username"{else} name="word"{/if} />
			时间范围：
			<input type="text" class="txt" name="starttime" value="{$starttime}" autocomplete="off" onclick="rcalendar(this, 'full')" />
			至
			<input type="text" class="txt" name="endtime" value="{$endtime}" autocomplete="off" onclick="rcalendar(this, 'full')" />
			<input type="hidden" name="act" id="act" value="query"/>
			<input type="submit" value="{$P8LANG['search']}" class="submit"/>							
			<input type="button" value="{$P8LANG['refresh']}" class="refreshbtn" onclick="request_item(PAGE)" />
			<input type="button" class="submit_btn" value="导出日志" onclick="download()" />
		</div>	
		<div class="clear"></div>
	</div>
</div>
</form>
<form action="$this_url" method="post" id="form">
	<div class="mainbox mainborder">
		<div class="section">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" >
				<tr>
					<td>
						<table class="columntable formtable hover_table click_changeable">
							<tr class="title fix_head">
								<td width="3%" class="title" align="center"><input type="checkbox" onclick="check_all(this, 'id[]', $('#form'));init_tr($('#form'));" /></td>
								<td width="3%" class="title" align="center">ID</td>
								<td width="5%" class="title" align="center">{$P8LANG['operator']}</td>
								<td width="10%" class="title" align="center">{$P8LANG['operate_matter']}</td>
								<td width="3%" class="title" align="center">{$P8LANG['iid']}</td>
								<td width="3%" class="title" align="center">{$P8LANG['cid']}</td>
								<td width="5%" class="title" align="center">{$P8LANG['system']}</td>
								<td width="5%" class="title" align="center">{$P8LANG['module']}</td>
								<td width="5%" class="title" align="center">{$P8LANG['action']}</td>
								<td width="5%" class="title" align="center">{$P8LANG['site']}</td>
								<td width="20%" class="title" align="center">{$P8LANG['url']}</td>
								<td width="8%" class="title" align="center">{$P8LANG['operate_date']}</td>
								<td width="8%" class="title" align="center">{$P8LANG['operate_ip']}</td>
								<td width="5%" class="title" align="center">{$P8LANG['operate_detail']}</td>
							</tr>
							<tbody id="list">
							<!--{foreach $list $value}-->
							<tr id="item_$value[id]" align="center">
								<td align="center"><input type="checkbox" name="id[]" value="$value[id]" /></td>
								<td align="center">$value[id]</td>
								<td align="center"><a href="$this_url?uid=$value[uid]">$value[username]{if $value['name']} | {$value[name]}{/if}</a></td>
								<td><a href="###" onclick="view_log($value[id])">$value[title]</a></td>
								<td align="center">$value[iid]</td>
								<td align="center">$value[cid]</td>
								<td align="center">{if $value['system'] == 'core'}{$P8LANG['core']}{else}{$list_systems[$value[system]]['alias']}{/if}</td>
								<td align="center">{if $all_modules[$value['system']][$value['module']]['alias']}{$all_modules[$value['system']][$value['module']]['alias']}{else}{$value['module']}{/if}</td>
								<td align="center">
								<!--{if strpos($value['url'],'admin.php')}-->
								<!--{if $all_actions[$value['system']][$value['module']]['admin_actions'][$value['action']]}-->
									{$all_actions[$value['system']][$value['module']]['admin_actions'][$value['action']]}
								<!--{else}-->
									{if in_array($value['action'],array('login','logout'))}账号{/if}{$P8LANG[$value['action']]}
								<!--{/if}-->
								<!--{else}-->
								<!--{if $all_actions[$value['system']][$value['module']]['actions'][$value['action']]}-->
									{$all_actions[$value['system']][$value['module']]['actions'][$value['action']]}
								<!--{else}-->
									{if in_array($value['action'],array('login','logout'))}账号{/if}{$P8LANG[$value['action']]}
								<!--{/if}-->
								<!--{/if}-->
								</td>
								<td align="center">{if $all_sites[$value['site']]['sitename']}{$all_sites[$value['site']]['sitename']}{else}{$value['site']}{/if}</td>
								<td>$value[url]</td>
								<td align="center">{date('Y-m-d H:i:s', $value['timestamp'])}</td>
								<td align="center">$value[ip]</td>
								<td align="center">
									<a href="###" onclick="view_log($value[id])">{$P8LANG['view']}</a>									
								</td>
							</tr>
							<!--{/foreach}-->
							</tbody>
						</table>
						<table width="100%" class="columntable formtable">
							<tr>
								<td align="center" id="pages" class="pages">{$pages}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<input type="hidden" name="act" />
</form>

<script type="text/javascript">
var PAGE;
var view_dialog = new P8_Dialog({
	width: 800,
	height: 400
});
view_dialog.content.css({overflow: 'auto'});

function _get_modules(s, selected){
	_system = s;
	
	ajaxing({});
	
	get_modules(s, function(json){
		$('#module').attr('length', 1);
		
		for(var i = 0; i < json.length; i++){
			$('#module').append($('<option value="'+ json[i].name +'"'+ (selected == json[i].name ? ' selected' : '') +'>'+ json[i].alias +'</option>'));
		}
		
		ajaxing({action: 'hide'});
		
		if(!_modules_inited){
			_get_actions('admin_actions', _action);
		}else{
			if(!selected)
			_get_actions('admin_actions');
		}
		
		_modules_inited = true;
	});
}
function _get_actions(type, selected){
	ajaxing({});
	
	get_actions(_system, _module, type, function(json){
		ajaxing({action: 'hide'});
		
		if(json){
			$('#action').attr('length', 1);
			
			for(var i in json){
				$('#action').append($('<option value="'+ i +'"'+ (selected == i ? ' selected' : '') +'>'+ json[i] +'</option>'));
			}
			
			if(!selected)
				$('#action').change();
		}
	});
}
function view_log(id){
	$.ajax({
		url: '$this_url',
		data: {act: 'view', id: id},
		beforeSend: function(){
			ajaxing({});
		},
		success: function(s){
			view_dialog.show();
			view_dialog.content.html('<pre>'+ s +'</pre>');
			ajaxing({action: 'hide'});
		}
	});
}
function request_item(page){
	$.ajax({
		url: '{$this_url}',
		type: 'GET',
		dataType: 'html',
		data: '',
		cache: false,
		beforeSend: function(){
			ajaxing({});
		},
		success: function(json){
			ajaxing({action: 'hide'});
			var url = '{$this_url}?&page='+page+'&word={$keyword}';
			{if $system} url += "&system={$system}";{/if}
			{if $site} url += "&site={$site}";{/if}
			{if $module} url += "&module={$module}";{/if}
			{if $action} url += "&action={$action}";{/if}
			{if $iid} url += "&iid={$iid}";{/if}
			{if $username} url += "&username={$username}";{/if}
			{if $starttime} url += "&starttime={$starttime}";{/if}
			{if $endtime} url += "&endtime={$endtime}";{/if}			
			window.open(url,"_self");
		}
	});
}
function download(){	
	$('#act').val('download');
	$('#request').submit();
}
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->