<!--{php168}-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
<title>系统后台管理平台</title>
<link rel="stylesheet" type="text/css" href="{$RESOURCE}/skin/admin/login/style.css" />
<script type="text/javascript" src="{$RESOURCE}/js/config.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/util.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/jsencrypt.min.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/login.js?rid=<!--{php echo P8_TIME;}-->"></script>
</head>
<body>
<div class="login">
	<div class="logo"></div>
	<h3>欢迎登录内容管理系统后台</h3>
	<div class="loginbar">
		<form action="$this_url" method="post" id="form">
			<div class="formWrap">
				<div class="lable user">账号：</div>
				<div class="forminput">
					<!--{if $USERNAME}-->
					<input type="hidden" name="username" id="username" autocomplete="off" value="{$USERNAME}" />
					<input type="text" class="txt" value="{$USERNAME}" disabled />
					<!--{else}-->
					<input type="text" class="txt" id="username" autocomplete="off" value="账号" name="username" onfocus="if (value =='账号'){value =''}" onblur="if (value ==''){value='账号'}"/>
					<!--{/if}-->
				</div>
			</div>
			<div class="formWrap">
				<div class="lable pwd">密码：</div>
				<div class="forminput">
					<input  type="password" autocomplete="off" class="txt" name="password" id="password"/>
				</div>
			</div>
			<!--{if !empty($core->CONFIG['admin_login_with_mobile_captcha'])}-->
			<div class="formWrap">
				<div class="lable code">手机验证码：</div>
				<div class="forminput">
					<input type="text" class="txt2 left" style="width:100px" id="checkcode" size="5" value="手机验证码" name="checkcode" onfocus="if (value =='手机验证码'){value =''}" onblur="if (value ==''){value='手机验证码'}"/>	<span class="right"><img id="p8_sendsms" style="height:25px;" src="{$RESOURCE}/images/dtyzm.gif" /></span>
					<script type="text/javascript">
						$(document).ready(function(){
						  $("#p8_sendsms").click(function(){
							var username = $('#username').val();							
							if(username.length){
								$.ajax({
									url: '{$core.url}/api/checksms.php',
									type: 'post',
									dataType: 'json',
									cache: false,
									data: ajax_parameters({username: username}),
									beforeSend: function(){
										ajaxing({});
									},
									success: function(json){
										ajaxing({action: 'hide'});
										if(json=='OK')
											p8_window.alert('手机短信发送成功！');
										else
											p8_window.alert('发送失败！'+json);
									}
								});
							}else{
								p8_window.alert('请正确输入账号！');
							}
						  })
						})
					</script>
				</div>
			</div>
			<!--{/if}-->			
			<!--{if !empty($core->CONFIG['admin_login_code'])}-->
			<div class="formWrap">
				<div class="lable code">安全码：</div>
				<div class="forminput">
					<input  type="password" class="txt" name="code" title="新安装默认为:php168" value="安全码" onfocus="if (value =='安全码'){value =''}" onblur="if (value ==''){value='安全码'}"/>
				</div>
			</div>
			<!--{/if}-->
			<!--{if !empty($core->CONFIG['admin_login_with_captcha'])}-->
			<div class="formWrap">
				<div class="lable captcha">验证码：</div>
				<div class="forminput">
					<input  type="text" class="txt2 left" size="5" name="captcha" value="验证码" onfocus="if (value =='验证码'){value =''}" onblur="if (value ==''){value='验证码'}"/><span class="right" id="captcha"></span>
				</div>
			</div>
			<script type="text/javascript">
				$(function(){
					captcha($('#captcha'));
				});
			</script>
			<!--{/if}-->
			<div class="loginbtn"><input type="submit" class="submit" value="登录" id="loginbtn" /></div>
			<input type="hidden" name="forward" value="{if !empty($forward)}$forward{/if}" />			
		</form>
	</div>
</div>
<script>
$(document).ready(function(){
	var Referrer = document.referrer;
	if(Referrer && Referrer.toLowerCase().indexOf('javascript') != -1){
		p8_window.alert('严正警告！！！您的攻击行为已经被记录在案，我们已保留证据！');
	};	
	element_to_center($('.login'));
	<!--{if $USERNAME}-->
	$('form input[name=tmppd]').get(0).focus();
	<!--{else}-->
	$('form #username').get(0).focus();
	<!--{/if}-->
});
</script>
</body>
</html>
<!--{/php168}-->