<!--{php168}-->
<div class="mainbox mainborder">
	<div class="section">
		<table class="formtable">
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li><a href="{$core.admin_controller}/core-env"><i class="fa fa-shield"></i>{$P8LANG[system_env]}</a></li>
						<li><a href="{$core.admin_controller}/core-dirfile"><i class="fa fa-shield"></i>{$P8LANG[chmod_dirfile]}</a></li>
						<li><a href="{$core.admin_controller}/core-md5_files"><i class="fa fa-shield"></i>{$P8LANG[md5_files]}</a></li>
						<li><a href="{$core.admin_controller}/core-tables"><i class="fa fa-shield"></i>{$P8LANG[tables_check]}</a></li>
						<li><a href="{$core.admin_controller}/core-word_filter"><i class="fa fa-shield"></i>{$P8LANG[word_filter2]}</a></li>
					</ul>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<!--{/php168}-->