<!--{php168}-->
<!--{template $core header admin}-->
<!--{template $core menu_bar admin}-->
<style type="text/css">
._top_option{background-color: #cccccc;}
</style>

<script type="text/javascript">
var _system;
var _module;
var _action;
var parent;
var last_parent;
var parent_queue;
var _modules_inited = false;
</script>



<form action="$this_router-$ACTION" method="post" id="form">
	<div class="mainbox mainborder">
	<div class="section">
		<table width="100%" border="0"  class="mainbox">
			<tr>
				<td>
					<ul class="boxmenu">
						<li class="btn-color1"><a href="{$core.admin_controller}/core-menu_add"><i class="icon icon-ico44"></i>添加后台菜单</a></li>
						<li class="btn-color5"><a href="{$core.admin_controller}/core-menu_list"><i class="icon icon-ico1"></i>系统后台菜单列表</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr><td>
				<table class="columntable formtable hover_table">
					<tr class="title fix_head">
						<td colspan="2" class="title">{$P8LANG['add_menu']}</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_name']}</td>
						<td class="tdR">
							<input  type="text" class="txt" name="name" value="{if !empty($data['name'])}{$data['name']}{/if}" />
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['url']}</td>
						<td class="tdR">
							<input  type="text" class="txt" name="url" id="url" size="60" value="{if !empty($data['url'])}{$data['url']}{/if}" onkeyup="this.value.length ? $('#action_select').hide() : $('#action_select').show()" /> {$P8LANG['menu_url_note']}
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_target']}</td>
						<td class="tdR">
							<select name="target">
								<option value="" selected>{$P8LANG['default']}</option>
								<option value="_blank"{if !empty($data['target']) && $data['target'] == '_blank'} selected{/if}>{$P8LANG['_blank']}</option>
								<option value="_top"{if !empty($data['target']) && $data['target'] == '_top'} selected{/if}>{$P8LANG['_top']}</option>
								<option value="_parent"{if !empty($data['target']) && $data['target'] == '_parent'} selected{/if}>{$P8LANG['_parent']}</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['parent_menu']}</td>
						<td class="tdR" id="select_parent">
							
							<select id="parent" onchange="get_sub_menus(this)">
								<option value="0" class="_top_option">{$P8LANG['top_menu']}</option>
								
								<!--{foreach $admin_menu->top_menus $v}-->
								<option value="{$v['id']}"{if !empty($data['parent']) && $top['id'] == $v['id']} selected{/if}{if isset($v['menus'])} sub_menu="1"{/if}>{$v['name']}</option>
								<!--{/foreach}-->
							</select>
							<input type="hidden" name="parent" value="{if !empty($data['parent'])}{$data['parent']}{/if}" />
						</td>
					</tr>
					
					<tbody id="action_select">
					<tr>
						<td class="tdL">{$P8LANG['menu_system']}</td>
						<td class="tdR">
							<select name="system" id="system" onchange="if(this.value) _get_modules(this.value)">
								<option value="" class="_top_option">{$P8LANG['null']}</option>
								<option value="core"{if !empty($data) && $data['system'] == 'core'} selected{/if}>{$P8LANG['core']}</option>
								<!--{foreach $systems $k $v}-->
								<!--{if $v['enabled']}-->
								<option value="$k"{if !empty($data) && $data['system'] == $k} selected{/if}>{$v['alias']}</option>
								<!--{/if}-->
								<!--{/foreach}-->
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_module']}</td>
						<td class="tdR">
							<select name="module" id="module" onchange="_module=this.value;_get_actions('admin_actions');">
								<option value="" class="_top_option">{$P8LANG['null']}</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_action']}</td>
						<td class="tdR">
							<select id="action" onchange="change_action(this.value)">
								<option value="" class="_top_option">{$P8LANG['null']}</option>
							</select>
							<input  type="text" class="txt" name="action" value="{if !empty($data['action'])}$data[action]{/if}" />
						</td>
					</tr>
					</tbody>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_display']}</td>
						<td class="tdR">
							<input type="radio" name="display" value="1"{if !isset($data['display']) || !empty($data['display'])} checked{/if} />{$P8LANG['Y']}
							<input type="radio" name="display" value="0"{if empty($data['display']) && isset($data['display'])} checked{/if} />{$P8LANG['N']}
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_front']}</td>
						<td class="tdR">
							<input type="checkbox" name="front" value="1"{if !empty($data['front'])} checked{/if} />
						</td>
					</tr>
					
					<tr>
						<td class="tdL">{$P8LANG['menu_display_order']}</td>
						<td class="tdR">
							<input  type="text" class="txt" name="display_order" value="{if !empty($data['display_order'])}{$data['display_order']}{/if}" size="4" />
						</td>
					</tr>
					<tr>
						<td class="tdL">{$P8LANG['menu_sys']}</td>
						<td class="tdR">
							<select name="menu_sys">
								<option value="main"{if !empty($data['menu_sys']) && $data['menu_sys'] == 'main'} selected{/if}>{$P8LANG['menu_sys_main']}</option>
								<option value="sites"{if !empty($data['menu_sys']) && $data['menu_sys'] == 'sites'} selected{/if}>{$P8LANG['menu_sys_sites']}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="tdL">{$P8LANG['menu_icon']}</td>
						<td class="tdR fa-fonts">
							<input type="radio" name="menu_icon" value="fa-codepen" {if !isset($data['menu_icon']) || $data['menu_icon']=="fa-codepen"} checked{/if}><i class="fa fa-codepen"></i>
							<input type="radio" name="menu_icon" value="fa-cog" {if $data['menu_icon']=="fa-cog"} checked{/if}><i class="fa fa-cog"></i>
							<input type="radio" name="menu_icon" value="fa fa-gears" {if $data['menu_icon']=="fa-gears"} checked{/if}><i class="fa fa fa-gears"></i>
							<input type="radio" name="menu_icon" value="fa-magic" {if $data['menu_icon']=="fa-magic"} checked{/if}><i class="fa fa-magic"></i>
							<input type="radio" name="menu_icon" value="fa-paw" {if $data['menu_icon']=="fa-paw"} checked{/if}><i class="fa fa-paw"></i>
							<input type="radio" name="menu_icon" value="fa-eye" {if $data['menu_icon']=="fa-eye"} checked{/if}><i class="fa fa-eye"></i>
							<input type="radio" name="menu_icon" value="fa-eye-slash" {if $data['menu_icon']=="fa-eye-slash"} checked{/if}><i class="fa fa-eye-slash"></i>
							<input type="radio" name="menu_icon" value="fa-globe" {if $data['menu_icon']=="fa-globe"} checked{/if}><i class="fa fa-globe"></i>
							<input type="radio" name="menu_icon" value="fa-laptop" {if $data['menu_icon']=="fa-laptop"} checked{/if}><i class="fa fa-laptop"></i>
							<input type="radio" name="menu_icon" value="fa-lightbulb-o" {if $data['menu_icon']=="fa-lightbulb-o"} checked{/if}><i class="fa fa-lightbulb-o"></i>
							<input type="radio" name="menu_icon" value="fa-link" {if $data['menu_icon']=="fa-link"} checked{/if}><i class="fa fa-link"></i>
							<input type="radio" name="menu_icon" value="fa-list" {if $data['menu_icon']=="fa-list"} checked{/if}><i class="fa fa-list"></i>
							<input type="radio" name="menu_icon" value="fa-navicon" {if $data['menu_icon']=="fa-navicon"} checked{/if}><i class="fa fa-navicon"></i>
							<input type="radio" name="menu_icon" value="fa-plus-square" {if $data['menu_icon']=="fa-plus-square"} checked{/if}><i class="fa fa-plus-square"></i>
							<input type="radio" name="menu_icon" value="fa-recycle" {if $data['menu_icon']=="fa-recycle"} checked{/if}><i class="fa fa-recycle"></i>
							<input type="radio" name="menu_icon" value="fa-sitemap" {if $data['menu_icon']=="fa-sitemap"} checked{/if}><i class="fa fa-sitemap"></i>
							<input type="radio" name="menu_icon" value="fa-map-marker" {if $data['menu_icon']=="fa-map-marker"} checked{/if}><i class="fa fa-map-marker"></i>
							<input type="radio" name="menu_icon" value="fa-podcast" {if $data['menu_icon']=="fa-podcast"} checked{/if}><i class="fa fa-podcast"></i>
							<input type="radio" name="menu_icon" value="fa-ravelry" {if $data['menu_icon']=="fa-ravelry"} checked{/if}><i class="fa fa-ravelry"></i><br>
							<input type="radio" name="menu_icon" value="fa-google-wallet" {if $data['menu_icon']=="fa-google-wallet"} checked{/if}><i class="fa fa-google-wallet"></i>
							<input type="radio" name="menu_icon" value="fa-sheqel" {if $data['menu_icon']=="fa-sheqel"} checked{/if}><i class="fa fa-sheqel"></i>
							<input type="radio" name="menu_icon" value="fa-joomla" {if $data['menu_icon']=="fa-joomla"} checked{/if}><i class="fa fa-joomla"></i>
							<input type="radio" name="menu_icon" value="fa-skyatlas" {if $data['menu_icon']=="fa-skyatlas"} checked{/if}><i class="fa fa-skyatlas"></i>
							<input type="radio" name="menu_icon" value="fa-line-chart" {if $data['menu_icon']=="fa-line-chart"} checked{/if}><i class="fa fa-line-chart"></i>
							<input type="radio" name="menu_icon" value="fa-area-chart" {if $data['menu_icon']=="fa-area-chart"} checked{/if}><i class="fa fa-area-chart"></i>
							<input type="radio" name="menu_icon" value="fa-bar-chart" {if $data['menu_icon']=="fa-bar-chart"} checked{/if}><i class="fa fa-bar-chart"></i>
							<input type="radio" name="menu_icon" value="fa-arrow-circle-o-down" {if $data['menu_icon']=="fa-arrow-circle-o-down"} checked{/if}><i class="fa fa-arrow-circle-o-down"></i>
							<input type="radio" name="menu_icon" value="fa-arrow-circle-o-left" {if $data['menu_icon']=="fa-arrow-circle-o-left"} checked{/if}><i class="fa fa-arrow-circle-o-left"></i>
							<input type="radio" name="menu_icon" value="fa-arrow-circle-o-right" {if $data['menu_icon']=="fa-arrow-circle-o-right"} checked{/if}><i class="fa fa-arrow-circle-o-right"></i>
							<input type="radio" name="menu_icon" value="fa-arrow-circle-o-up" {if $data['menu_icon']=="fa-arrow-circle-o-up"} checked{/if}><i class="fa fa-arrow-circle-o-up"></i>
							<input type="radio" name="menu_icon" value="fa-arrows-alt" {if $data['menu_icon']=="fa-arrows-alt"} checked{/if}><i class="fa fa-arrows-alt"></i>
							<input type="radio" name="menu_icon" value="fa-asterisk" {if $data['menu_icon']=="fa-asterisk"} checked{/if}><i class="fa fa-asterisk"></i>
							<input type="radio" name="menu_icon" value="fa-balance-scale" {if $data['menu_icon']=="fa-balance-scale"} checked{/if}><i class="fa fa-balance-scale"></i>
							<input type="radio" name="menu_icon" value="fa-signal" {if $data['menu_icon']=="fa-signal"} checked{/if}><i class="fa fa-signal"></i>
							<input type="radio" name="menu_icon" value="fa-bullseye" {if $data['menu_icon']=="fa-bullseye"} checked{/if}><i class="fa fa-bullseye"></i>
							<input type="radio" name="menu_icon" value="fa-calendar" {if $data['menu_icon']=="fa-calendar"} checked{/if}><i class="fa fa-calendar"></i>
							<input type="radio" name="menu_icon" value="fa-calendar-check-o" {if $data['menu_icon']=="fa-calendar-check-o"} checked{/if}><i class="fa fa-calendar-check-o"></i>
							<input type="radio" name="menu_icon" value="fa-camera-retro" {if $data['menu_icon']=="fa-camera-retro"} checked{/if}><i class="fa fa-camera-retro"></i><br>
							<input type="radio" name="menu_icon" value="fa-chain" {if $data['menu_icon']=="fa-chain"} checked{/if}><i class="fa fa-chain"></i>
							<input type="radio" name="menu_icon" value="fa-check-square-o" {if $data['menu_icon']=="fa-check-square-o"} checked{/if}><i class="fa fa-check-square-o"></i>
							<input type="radio" name="menu_icon" value="fa-clock-o" {if $data['menu_icon']=="fa-clock-o"} checked{/if}><i class="fa fa-clock-o"></i>
							<input type="radio" name="menu_icon" value="fa-codiepie" {if $data['menu_icon']=="fa-codiepie"} checked{/if}><i class="fa fa-codiepie"></i>
							<input type="radio" name="menu_icon" value="fa-crosshairs" {if $data['menu_icon']=="fa-crosshairs"} checked{/if}><i class="fa fa-crosshairs"></i>
							<input type="radio" name="menu_icon" value="fa-diamond" {if $data['menu_icon']=="fa-diamond"} checked{/if}><i class="fa fa-diamond"></i>
							<input type="radio" name="menu_icon" value="fa-dribbble" {if $data['menu_icon']=="fa-dribbble"} checked{/if}><i class="fa fa-dribbble"></i>
							<input type="radio" name="menu_icon" value="fa-envelope-o" {if $data['menu_icon']=="fa-envelope-o"} checked{/if}><i class="fa fa-envelope-o"></i>							
							<input type="radio" name="menu_icon" value="fa-snowflake-o" {if $data['menu_icon']=="fa-snowflake-o"} checked{/if}><i class="fa fa-snowflake-o"></i>
							<input type="radio" name="menu_icon" value="fa-street-view" {if $data['menu_icon']=="fa-street-view"} checked{/if}><i class="fa fa-street-view"></i>
							<input type="radio" name="menu_icon" value="fa-stumbleupon" {if $data['menu_icon']=="fa-stumbleupon"} checked{/if}><i class="fa fa-stumbleupon"></i>
							<input type="radio" name="menu_icon" value="fa-support" {if $data['menu_icon']=="fa-support"} checked{/if}><i class="fa fa-support"></i>
							<input type="radio" name="menu_icon" value="fa-tencent-weibo" {if $data['menu_icon']=="fa-tencent-weibo"} checked{/if}><i class="fa fa-tencent-weibo"></i>
							<input type="radio" name="menu_icon" value="fa-expeditedssl" {if $data['menu_icon']=="fa-expeditedssl"} checked{/if}><i class="fa fa-expeditedssl"></i>
							<input type="radio" name="menu_icon" value="fa-empire" {if $data['menu_icon']=="fa-empire"} checked{/if}><i class="fa fa-empire"></i>
							<input type="radio" name="menu_icon" value="fa-eercast" {if $data['menu_icon']=="fa-eercast"} checked{/if}><i class="fa fa-eercast"></i>
							<input type="radio" name="menu_icon" value="fa-th-large" {if $data['menu_icon']=="fa-th-large"} checked{/if}><i class="fa fa-th-large"></i>
							<input type="radio" name="menu_icon" value="fa-tint" {if $data['menu_icon']=="fa-tint"} checked{/if}><i class="fa fa-tint"></i>
							<input type="radio" name="menu_icon" value="fa-toggle-right" {if $data['menu_icon']=="fa-toggle-right"} checked{/if}><i class="fa fa-toggle-right"></i><br>
							<input type="radio" name="menu_icon" value="fa-tree" {if $data['menu_icon']=="fa-tree"} checked{/if}><i class="fa fa-tree"></i>
							<input type="radio" name="menu_icon" value="fa-trophy" {if $data['menu_icon']=="fa-trophy"} checked{/if}><i class="fa fa-trophy"></i>
							<input type="radio" name="menu_icon" value="fa-twitter" {if $data['menu_icon']=="fa-twitter"} checked{/if}><i class="fa fa-twitter"></i>
							<input type="radio" name="menu_icon" value="fa-umbrella" {if $data['menu_icon']=="fa-umbrella"} checked{/if}><i class="fa fa-umbrella"></i>
							<input type="radio" name="menu_icon" value="fa-user-circle-o" {if $data['menu_icon']=="fa-user-circle-o"} checked{/if}><i class="fa fa-user-circle-o"></i>
							<input type="radio" name="menu_icon" value="fa-wifi" {if $data['menu_icon']=="fa-wifi"} checked{/if}><i class="fa fa-wifi"></i>
							<input type="radio" name="menu_icon" value="fa-windows" {if $data['menu_icon']=="fa-windows"} checked{/if}><i class="fa fa-windows"></i>
							<input type="radio" name="menu_icon" value="fa-wpexplorer" {if $data['menu_icon']=="fa-wpexplorer"} checked{/if}><i class="fa fa-wpexplorer"></i>
							<input type="radio" name="menu_icon" value="fa-yelp" {if $data['menu_icon']=="fa-yelp"} checked{/if}><i class="fa fa-yelp"></i>
							<input type="radio" name="menu_icon" value="fa-window-restore" {if $data['menu_icon']=="fa-window-restore"} checked{/if}><i class="fa fa-window-restore"></i>
							<input type="radio" name="menu_icon" value="fa-university" {if $data['menu_icon']=="fa-university"} checked{/if}><i class="fa fa-university"></i>
							<input type="radio" name="menu_icon" value="fa-space-shuttle" {if $data['menu_icon']=="fa-space-shuttle"} checked{/if}><i class="fa fa-space-shuttle"></i>
							<input type="radio" name="menu_icon" value="fa-bell-o" {if $data['menu_icon']=="fa-bell-o"} checked{/if}><i class="fa fa-bell-o"></i>
							<input type="radio" name="menu_icon" value="fa-modx" {if $data['menu_icon']=="fa-modx"} checked{/if}><i class="fa fa-modx"></i>
							<input type="radio" name="menu_icon" value="fa-fax" {if $data['menu_icon']=="fa-fax"} checked{/if}><i class="fa fa-fax"></i>
							<input type="radio" name="menu_icon" value="fa-map-signs" {if $data['menu_icon']=="fa-map-signs"} checked{/if}><i class="fa fa-map-signs"></i>
							<input type="radio" name="menu_icon" value="fa-male" {if $data['menu_icon']=="fa-male"} checked{/if}><i class="fa fa-male"></i>
							<input type="radio" name="menu_icon" value="fa-resistance" {if $data['menu_icon']=="fa-resistance"} checked{/if}><i class="fa fa-resistance"></i>
							<input type="radio" name="menu_icon" value="fa-road" {if $data['menu_icon']=="fa-road"} checked{/if}><i class="fa fa-road"></i><br>
							<input type="radio" name="menu_icon" value="fa-paper-plane-o" {if $data['menu_icon']=="fa-paper-plane-o"} checked{/if}><i class="fa fa-paper-plane-o"></i>	
							<input type="radio" name="menu_icon" value="fa-get-pocket" {if $data['menu_icon']=="fa-get-pocket"} checked{/if}><i class="fa fa-get-pocket"></i>	
							<input type="radio" name="menu_icon" value="fa-microphone" {if $data['menu_icon']=="fa-microphone"} checked{/if}><i class="fa fa-microphone"></i>	
							<input type="radio" name="menu_icon" value="fa-language" {if $data['menu_icon']=="fa-language"} checked{/if}><i class="fa fa-language"></i>
							<input type="radio" name="menu_icon" value="fa-ioxhost" {if $data['menu_icon']=="fa-ioxhost"} checked{/if}><i class="fa fa-ioxhost"></i>
							<input type="radio" name="menu_icon" value="fa-home" {if $data['menu_icon']=="fa-home"} checked{/if}><i class="fa fa-home"></i>
							<input type="radio" name="menu_icon" value="fa-history" {if $data['menu_icon']=="fa-history"} checked{/if}><i class="fa fa-history"></i>
							<input type="radio" name="menu_icon" value="fa-group" {if $data['menu_icon']=="fa-group"} checked{/if}><i class="fa fa-group"></i>
							<input type="radio" name="menu_icon" value="fa-tablet" {if $data['menu_icon']=="fa-tablet"} checked{/if}><i class="fa fa-tablet"></i>
							<input type="radio" name="menu_icon" value="fa-forumbee" {if $data['menu_icon']=="fa-forumbee"} checked{/if}><i class="fa fa-forumbee"></i>
							<input type="radio" name="menu_icon" value="fa fa-wechat" {if $data['menu_icon']=="fa fa-wechat"} checked{/if}><i class="fa fa fa-wechat"></i>
							<input type="radio" name="menu_icon" value="fa-weibo" {if $data['menu_icon']=="fa-weibo"} checked{/if}><i class="fa fa-weibo"></i>
							<input type="radio" name="menu_icon" value="fa-share-alt" {if $data['menu_icon']=="fa-share-alt"} checked{/if}><i class="fa fa-share-alt"></i>
							<input type="radio" name="menu_icon" value="fa-shield" {if $data['menu_icon']=="fa-shield"} checked{/if}><i class="fa fa-shield"></i>
							<input type="radio" name="menu_icon" value="fa-tachometer" {if $data['menu_icon']=="fa-tachometer"} checked{/if}><i class="fa fa-tachometer"></i>
							<input type="radio" name="menu_icon" value="fa-graduation-cap" {if $data['menu_icon']=="fa-graduation-cap"} checked{/if}><i class="fa fa-graduation-cap"></i>
							<input type="radio" name="menu_icon" value="fa-wpforms" {if $data['menu_icon']=="fa-wpforms"} checked{/if}><i class="fa fa-wpforms"></i>
							<input type="radio" name="menu_icon" value="fa-database" {if $data['menu_icon']=="fa-database"} checked{/if}><i class="fa fa-database"></i>
							<input type="radio" name="menu_icon" value="fa-cloud-upload" {if $data['menu_icon']=="fa-cloud-upload"} checked{/if}><i class="fa fa-cloud-upload"></i>
						</td>
					</tr>
					
					<tr>
						<td class="tdL">&nbsp;</td>
						<td class="tdR"><input type="submit" value="{$P8LANG['submit']}" class="submit_btn"/></td>
					</tr>
				  
				</table>
			</td></tr>
		</table>
		<input type="hidden" name="id" value="{if !empty($data['id'])}{$data['id']}{/if}" />
		</div>
	</div>
</form>

<script type="text/javascript">
	$('.headerbtn_list li').removeClass('active');
	$(".headerbtn_list li:nth-child(3)").addClass("active");
	$('input[name=url]').get(0).value.length ? $('#action_select').hide() : $('#action_select').show();
	
	<!--{if !empty($data)}-->
		parent_queue = $parent_js
		
		_system = '{$data['system']}';
		_module = '{$data['module']}';
		_action = '{$data['action']}';
		
		_get_modules(_system, _module);
		
		get_sub_menus($('#parent').get(0), parent_queue.shift());
		
		$('input[name=parent]').val({$data['parent']});
	<!--{/if}-->
	
	function get_sub_menus(select, selected){
		parent = selected != 'undefined' && selected ? selected : $(select).val();
		$('#form input[name=parent]').val(parent);
		if(parent == 0){
			$('#form input[name=parent]').val($(select).prev().val());
			$(select).nextAll('select').remove();
			return ;
		}
		
		if(!select.options[select.selectedIndex].getAttribute('sub_menu')){
			$(select).nextAll('select').remove();
			return;
		}
		if($('#select_parent select').length >2){			
			return;
		}
		var sub_menu = $('\
			<select onchange="get_sub_menus(this)">\
				<option value="0" class="_top_option">{$P8LANG['sub_menu']}</option>\
			</select>').get(0);
		
		$.ajax({
			url: '$this_router-menu_get',
			dataType: 'json',
			data: {obj:'admin_menu',id: $(select).val(), level: 3},
			cache: false,
			beforeSend: function(){
				ajaxing({});
			},
			success: function(json){
				ajaxing({action: 'hide'});
				
				if(!json.length) return;
				
				for(var i = 0; i < json.length; i++){
					var option = $('<option value="'+ json[i].id +'"'+ (selected == json[i].id ? ' selected' : '') +'>'+ json[i].name +'</option>');
					// if there are sub menus
					
					if(json[i].menus != undefined){
						option.get(0).setAttribute('sub_menu', 1);
					}
					$(sub_menu).append(option);
				}
				
				$(select).nextAll('select').remove();
				
				$(select).after($(sub_menu));
				
				if(parent_queue && parent_queue.length){
					//p8_window.alert(parent_queue);
					get_sub_menus(sub_menu, parent_queue.shift());
					
				}
			}
		});
		
		return sub_menu;
	}
	
	function _get_modules(s, selected){
		_system = s;
		
		ajaxing({});
		$("#module").empty();
		get_modules(s, function(json){
			$('#module').attr('length', 1);
			
			for(var i = 0; i < json.length; i++){
				$('#module').append($('<option value="'+ json[i].name +'"'+ (selected == json[i].name ? ' selected' : '') +'>'+ json[i].alias +'</option>'));
			}
			
			ajaxing({action: 'hide'});
			
			if(!_modules_inited){
				_get_actions('admin_actions', _action);
			}else{
				if(!selected)
				_get_actions('admin_actions');
			}
			
			_modules_inited = true;
		});
	}
	
	function _get_actions(type, selected){
		ajaxing({});
		$('#action').empty();
		get_actions(_system, _module, type, function(json){
			ajaxing({action: 'hide'});
			if(json){				
				$('#action').attr('length', 1);
				for(var i in json){
					$('#action').append($('<option value="'+ i +'"'+ (selected == i ? ' selected' : '') +'>'+ json[i] +'</option>'));
				}
				
				if(!selected)
					$('#action').change();
			}
		});
	}
	
	function change_action(action){
		$('#form input[name=action]').val(action);
	}
	
	$('#form').validate({
		rules: {
			name: 'required',
			<!--{if $ACTION == 'menu_edit'}-->
			parent: {
				remote: {
					url: '$this_router-menu_verify',
					data: {id: function(){return $('#form input[name=id]').val();}, parent: function(){return $('#form input[name=parent]').val();}},
					beforeSend: function(){
						ajaxing({text: '正在验证父分类的合法性'});
					},
					complete: function(){
						ajaxing({action: 'hide'});
					}
				}
			},
			<!--{/if}-->
			system: {
				required: function(){
					return !$.trim($('#url').val()).length;
				}
			}
		},
		
		messages: {
			name: {
				required: ''
			},
			<!--{if $ACTION == 'menu_edit'}-->
			parent: {
				remote: '不能移到子其分类下'
			},
			<!--{/if}-->
			system: {
			}
		}
	});
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->