<!--{php168}-->
<!--{template $core header admin}-->
<style type="text/css">
body, html{overflow:inherit;}
</style>
<form action="$this_url" method="post" id="form">
	<div class="mainbox mainborder">
		<div class="app-box">
			<ul class="app-nav">
				<li class="li1"><a href="{$core.admin_controller}/core-plugin_module"><img src="{$RESOURCE}/skin/admin/app-ico1.png"/>我已安装的应用</a></li>
				<li class="li2"><a href="{$core.admin_controller}/core-plugin_module_installed"><img src="{$RESOURCE}/skin/admin/app-ico2.png"/>功能应用市场</a></li>
			</ul>
			<div class="apptab-nav-main"> 
				<ul id="appTabs" class="nav nav-tabs" role="tablist">
					<li role="presentation"><a href="{$core.admin_controller}/core-plugin_list">插件库</a></li>
					<li role="presentation" class="active"><a href="{$core.admin_controller}/core-module_list">模块库</a></li>       
					<li role="presentation"><a href="{$core.admin_controller}/core-system_list">系统库</a></li>    
				</ul>
				<div id="tab-content" class="tab-content">           
					<div role="tabpanel" class="tab-pane fade in active" id="gwmkk">
						<div class="row">
							<script type="text/javascript">
								var modules = {},
									hook_modules = {},
									system_json = $system_json,
									module_json = $module_json;
							</script>
							<!--{foreach $list $k $v}-->
							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="app-item">
									<div class="app-item-top">
										<div class="icon"><img src="{$RESOURCE}/modules/$k/icon.png" onerror="this.src='{$RESOURCE}/images/nopic.jpg'"></div>
										<div class="main">
											<h3>{$v['alias']}<span>v{$v['version']}</span></h3>
											<p class="text"><!--{php echo p8_cutstr($v['description'],44);}--></p>
											<p class="inlet">
												<a href="javascript:void();" onclick="show_more('$v[description]')">功能介绍>></a> 
												<a href="$this_router/{$k}-list">应用入口>></a>
											</p>
										</div>
									</div>
									<div class="app-item-option">
										<ul class="app-item-list">
											<li class="title">操作：</li>
											<li>安装<img src="{$SKIN}/{if $v['installed']}check_yes{else}check_no{/if}.gif" style="cursor: pointer;" onclick="install_module('$k')" alt="$k" title="1"/></li>
											<li>启用<img src="{$SKIN}/{if $v['enabled']}check_yes{else}check_no{/if}.gif" style="cursor: pointer;" alt="$k" title="1" /></li>
											<li>卸载<img src="{$SKIN}/check_un.png" style="cursor: pointer;" onclick="uninstall_module('$k')" /></li>
										</ul>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								modules['$k'] = {installed: '{$v['installed']}', enabled: '{$v['enabled']}'};
								hook_modules['$k'] = {};
								<!--{foreach $this_system->CONFIG['hook_modules'][$k] $sys $mods}-->
								hook_modules['$k']['$sys'] = {};
									<!--{foreach $mods $mod $vv}-->
								hook_modules['$k']['$sys']['$mod'] = '$vv';
									<!--{/foreach}-->
								<!--{/foreach}-->
							</script>
							<!--{/foreach}-->
						</div>
					</div>
				</div>
			</div>
			<div class="app-botton">
				<div class="text-center">
					<input type="hidden" name="system" value="$system" />
					<input type="hidden" name="module" value="" />
					<input type="submit" value="{$P8LANG['refresh_module']}" class="edit_btn" />							
				</div>
			</div>
		</div>
	</div>	
	<div id="submits"></div>
</form>

<script type="text/javascript">
	
	function install_module(module){
		p8_window.confirm('{$P8LANG['install_module?']}', function (r) {
			if(r){
				if(modules[module].installed){
					//if(!confirm('{$P8LANG['module_installed_reinstall?']}')) return;
					p8_window.confirm('{$P8LANG['module_installed_reinstall?']}', function (r) {
						if(r){
							$('input[name=module]').val(module);
							$('#form').attr('action', '$this_router-install_module').submit();
						}else{
							return;
						}
					});
				}else{
					$('input[name=module]').val(module);
					$('#form').attr('action', '$this_router-install_module').submit();
				}				
			}else{
				return;
			}
		});		
	}
	
	function uninstall_module(module){
		p8_window.confirm('{$P8LANG['uninstall_module']}', function (r) {
			if(r){
				$('input[name=module]').val(module);
				$('#form').attr('action', '$this_router-uninstall_module').submit();
			}
		});
		return;
	}
	
	$('.enables img').click(function(){
		var module = this.alt;
		var enabled = this.title;
		
		$(this).attr('src', enabled == 1 ? '{$SKIN}/check_no.gif' : '{$SKIN}/check_yes.gif').
		attr('title', enabled == 1 ? 0 : 1);
		
		$('#submits').append('<input type="hidden" name="enables['+ module +']" value="'+ (enabled == 1 ? 0 : 1) +'" />');
		ajaxing({text:'处理中...'});
		$('#form').submit();
	});
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->
