<!--{php168}-->
<!--{template $core header admin}-->
<style type="text/css">
body, html{overflow:inherit;}
</style>
	
	<div class="mainbox mainborder">
		<div class="app-box">
			<ul class="app-nav">
				<li class="li1"><a href="{$core.admin_controller}/core-plugin_module"><img src="{$RESOURCE}/skin/admin/app-ico1.png"/>我已安装的应用</a></li>
				<li class="li2"><a href="{$core.admin_controller}/core-plugin_module_installed"><img src="{$RESOURCE}/skin/admin/app-ico2.png"/>功能应用市场</a></li>
			</ul>
			<div class="apptab-nav-main"> 
				<ul id="appTabs" class="nav nav-tabs" role="tablist">           
					<li role="presentation"><a href="{$core.admin_controller}/core-plugin_list">插件库</a></li>
					<li role="presentation"><a href="{$core.admin_controller}/core-module_list">模块库</a></li>       
					<li role="presentation"><a href="{$core.admin_controller}/core-system_list">系统库</a></li>
				</ul>
				<div id="tab-content" class="tab-content">           
					<div role="tabpanel" class="tab-pane fade in active" id="gwcjk">
						<form action="{$core.admin_controller}/core-system_list" method="post" id="system_form">
						<div class="app-page">
							<h3 class="app-page-title">系统库：</h3>
							<div class="row">
								<script type="text/javascript">
									var systems = {};
								</script>
								<!--{foreach $system_list $k $v}-->
								<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="app-item">
									<div class="app-item-top">
										<div class="icon">
										<a href="{$core.admin_controller}/core-module_list?system={$k}">
										<img src="{$RESOURCE}/$k/icon.png" onerror="this.src='{$RESOURCE}/images/nopic.jpg'">
										</a></div>
										<div class="main">
											<h3><a href="{$core.admin_controller}/core-module_list?system={$k}">{$v['alias']}</a><span>v{$v['version']}</span></h3>
											<p class="text"><!--{php echo p8_cutstr($v['description'],44);}--> {$P8LANG['table_prefix']}：{$v[table_prefix]}</p>
											<p class="inlet">
												<a href="javascript:void();" onclick="show_more('$v[description]')">功能介绍>></a> 
												<!--a href="$this_router/../{$k}/item-list">应用入口>></a-->
											</p>
										</div>
									</div>
									<div class="app-item-option">
										<ul class="app-item-list">
											<li class="title">操作：</li>
											<li>安装<img src="{$SKIN}/{if $v['installed']}check_yes{else}check_no{/if}.gif" style="cursor: pointer;" onclick="install_system('$k')" alt="$k" title="1"/></li>
										</ul>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								systems['$k'] = {installed: '{$v['installed']}', enabled: '{$v['enabled']}'};
							</script>
								<!--{/foreach}-->
							</div>
						</div>
						<div id="system_submits"></div>
						</form>
						<form action="{$core.admin_controller}/core-module_list" method="post" id="moudule_form">
						<div class="app-page">
							<h3 class="app-page-title">模块库：</h3>
							<div class="row">
								<script type="text/javascript">
									var modules = {},
										hook_modules = {},
										system_json = $system_json,
										module_json = $module_json;
								</script>
								<!--{foreach $module_list $k $v}-->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="app-item">
										<div class="app-item-top">
											<div class="icon"><img src="{$RESOURCE}/modules/$k/icon.png" onerror="this.src='{$RESOURCE}/images/nopic.jpg'"></div>
											<div class="main">
												<h3>{$v['alias']}<span>v{$v['version']}</span></h3>
												<p class="text"><!--{php echo p8_cutstr($v['description'],44);}--></p>
												<p class="inlet">
													<a href="javascript:void();" onclick="show_more('$v[description]')">功能介绍>></a> 
													<a href="$this_router/{$k}-list">应用入口>></a>
												</p>
											</div>
										</div>
										<div class="app-item-option">
											<ul class="app-item-list">
												<li class="title">操作：</li>
												<li>安装<img src="{$SKIN}/{if $v['installed']}check_yes{else}check_no{/if}.gif" style="cursor: pointer;" onclick="install_module('$k')" alt="$k" title="1"/></li>
											</ul>
										</div>
									</div>
								</div>
								<script type="text/javascript">
									modules['$k'] = {installed: '{$v['installed']}', enabled: '{$v['enabled']}'};
									hook_modules['$k'] = {};
									<!--{foreach $this_system->CONFIG['hook_modules'][$k] $sys $mods}-->
									hook_modules['$k']['$sys'] = {};
										<!--{foreach $mods $mod $vv}-->
									hook_modules['$k']['$sys']['$mod'] = '$vv';
										<!--{/foreach}-->
									<!--{/foreach}-->
								</script>
								<!--{/foreach}-->
							</div>
						</div>
						<div id="moudule_submits"></div>
						</form>
						<form action="{$core.admin_controller}/core-plugin_list" method="post" id="plugin_form">
						<div class="app-page">
							<h3 class="app-page-title">插件库：</h3>
							<div class="row">
								<script type="text/javascript">
								var plugins = {};
							</script>
							<!--{foreach $plugin_list $k $v}-->
							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="app-item">
									<div class="app-item-top">
										<div class="icon"><img src="{$RESOURCE}/plugin/$k/icon.png" onerror="this.src='{$RESOURCE}/images/nopic.jpg'"></div>
										<div class="main">
											<h3>{$v['alias']}<span>v{$v['version']}</span></h3>
											<p class="text"><!--{php echo p8_cutstr($v['description'],44);}--></p>
											<p class="inlet">
												<a href="javascript:void();" onclick="show_more('$v[description]')">功能介绍>></a> 
												<a href="$this_router-plugin?plugin=$k">应用入口>></a>
											</p>
										</div>
									</div>
									<div class="app-item-option">
										<ul class="app-item-list">
											<li class="title">操作：</li>
											<li>安装<img src="{$SKIN}/{if $v['installed']}check_yes{else}check_no{/if}.gif" style="cursor: pointer;" onclick="install_plugin('$k')" alt="$k" title="1"/></li>
										</ul>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								plugins['$k'] = {installed: '{$v['installed']}', enabled: '{$v['enabled']}'};
							</script>
							<!--{/foreach}-->
							</div>
						</div>
						<div id="plugin_submits"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	
<script type="text/javascript">
	function install_plugin(plugin){
		p8_window.confirm('{$P8LANG['install_plugin?']}', function (r) {
			if(r){
				if(plugins[plugin].installed){
					//if(!confirm('{$P8LANG['plugin_installed_reinstall?']}')) return;
					p8_window.confirm('{$P8LANG['plugin_installed_reinstall?']}', function (r) {
						if(r){
							$('input[name=plugin]').val(plugin);
							$('#plugin_form').attr('action', '$this_router-install_plugin').submit();
						}else{
							return;
						}
					});
				}else{
					$('input[name=plugin]').val(plugin);
					$('#plugin_form').attr('action', '$this_router-install_plugin').submit();
				}				
			}else{
				return;
			}
		});
		
	}
	
	function uninstall_plugin(plugin){
		p8_window.confirm('{$P8LANG['uninstall_plugin']}', function (r) {
			if(r){
				$('input[name=plugin]').val(plugin);
				$('#plugin_form').attr('action', '$this_router-uninstall_plugin').submit();
			}
		});
		return;
	}
	
	function install_module(module){
		p8_window.confirm('{$P8LANG['install_module?']}', function (r) {
			if(r){
				if(modules[module].installed){
					//if(!confirm('{$P8LANG['module_installed_reinstall?']}')) return;
					p8_window.confirm('{$P8LANG['module_installed_reinstall?']}', function (r) {
						if(r){
							$('input[name=module]').val(module);
							$('#moudule_form').attr('action', '$this_router-install_module').submit();
						}else{
							return;
						}
					});
				}else{
					$('input[name=module]').val(module);
					$('#moudule_form').attr('action', '$this_router-install_module').submit();
				}				
			}else{
				return;
			}
		});		
	}
	
	function uninstall_module(module){
		p8_window.confirm('{$P8LANG['uninstall_module?']}', function (r) {
			if(r){
				$('input[name=module]').val(module);
				$('#moudule_form').attr('action', '$this_router-uninstall_module').submit();
			}
		});
		return;
	}
	
	$('.modules_enables img').click(function(){
		var module = this.alt;
		var enabled = this.title;
		
		$(this).attr('src', enabled == 1 ? '{$SKIN}/check_no.gif' : '{$SKIN}/check_yes.gif').
		attr('title', enabled == 1 ? 0 : 1);
		
		$('#module_submits').append('<input type="hidden" name="enables['+ module +']" value="'+ (enabled == 1 ? 0 : 1) +'" />');
		ajaxing({text:'处理中...'});
		$('#moudule_form').submit();
	});
	
	function install_system(system){
		if(systems[system].installed){
			p8_window.confirm('{$P8LANG['system_installed_reinstall?']}', function (r) {
				if(r){
					$('input[name=system]').val(system);
					$('#system_formform').attr('method', 'get').attr('action', '{$core.admin_controller}/'+ system +'-install').submit();
				}else{
					return;
				}
			});
		}		
	}
	
	function uninstall_system(system){
		p8_window.confirm('{$P8LANG['uninstall_system?']}', function (r) {
			if(r){
				$('input[name=system]').val(system);
				$('#system_formform').attr('action', '$this_router-uninstall_system').submit();
			}
		});
		return;
	}
	
	$('.system_enables img').click(function(){
		var system = this.alt;
		var enabled = this.title;
		p8_window.confirm('{$P8LANG['system_enable_change?']}', function (r) {			
			$(this).attr('src', enabled == 1 ? '{$SKIN}/check_no.gif' : '{$SKIN}/check_yes.gif').
			attr('title', enabled == 1 ? 0 : 1);
			
			$('#system_submits').append('<input type="hidden" name="enables['+ system +']" value="'+ (enabled == 1 ? 0 : 1) +'" />');
			ajaxing({text:'处理中...'});
			$('#system_form').submit();
		});
	});
	
	function install_plugin(plugin){
		p8_window.confirm('{$P8LANG['install_plugin?']}', function (r) {
			if(r){
				if(plugins[plugin].installed){
					//if(!confirm('{$P8LANG['plugin_installed_reinstall?']}')) return;
					p8_window.confirm('{$P8LANG['plugin_installed_reinstall?']}', function (r) {
						if(r){
							$('input[name=plugin]').val(plugin);
							$('#plugin_form').attr('action', '$this_router-install_plugin').submit();
						}else{
							return;
						}
					});
				}else{
					$('input[name=plugin]').val(plugin);
					$('#plugin_form').attr('action', '$this_router-install_plugin').submit();
				}				
			}else{
				return;
			}
		});
		
	}
	
	function uninstall_plugin(plugin){
		p8_window.confirm('{$P8LANG['uninstall_plugin']}', function (r) {
			if(r){
				$('input[name=plugin]').val(plugin);
				$('#plugin_form').attr('action', '$this_router-uninstall_plugin').submit();
			}
		});
		return;
	}
	
	$('.plugin_enables img').click(function(){
		var plugin = this.alt;
		var enabled = this.title;
		
		$(this).attr('src', enabled == 1 ? '{$SKIN}/check_no.gif' : '{$SKIN}/check_yes.gif').
		attr('title', enabled == 1 ? 0 : 1);
		
		$('#plugin_submits').append('<input type="hidden" name="enables['+ plugin +']" value="'+ (enabled == 1 ? 0 : 1) +'" />');
		ajaxing({text:'处理中...'});
		$('#plugin_form').submit();
	});
	
	var dialog = new P8_Dialog({
		title_text: '{$P8LANG['introduce_messages']}',
		width: 700,
		height: 500
	});
	function show_more(mark){
		dialog.show();
		var site_bar = "{$P8LANG['introduce_messages']}：";
		site_bar += mark;
		dialog.content.html(site_bar);
	}
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->
