*{ margin:0; padding:0; border:0; text-decoration:none; list-style:none; line-height:24px;}
body{ margin:0px; padding:0px; border:0px; font-size:14px; background:url(images/bg.gif) fixed}
a:link{ color:#000000; font-size:14px}
a:visited{color:#000000;font-size:14px}
a:hover{ color:#c81916;font-size:14px}
a:active{color:#c81916;font-size:14px}
.clear{ clear:both; line-height:0px;}
.wrap{ width:1002px; margin:0 auto; background:#FFFFFF}

/*顶部*/
.top{background:#013165;line-height: 30px;color:#fff;font-size: 12px;}
.top span{margin:0 5px;line-height: 30px;color:#fff;font-size: 12px;}
.top span a{line-height: 30px;color:#fff;font-size: 12px;}
.topR span a{padding-left: 21px;background-size: contain;}
.topR .search{background:url(images/search.png) left center no-repeat;}
.topR .home{background:url(images/homepage.png) left center no-repeat;}

.headbar{background: url(images/header.png) top center no-repeat;width: 100%;z-index: 999;}
.headbar .logo{padding: 52px 0 35px;}
.headbar .logo img{max-width: 100%;}
.navbar{margin-top: 50px;}
.navbar-nav>li{width:14.28%;}
.navbar-nav>li>a{padding:0;text-align: center;color:#fff;line-height: 36px;font-size: 18px;}
.navbar-nav>li>a:hover{background: url(images/navli.png) center bottom no-repeat;}
.navbar-toggle{border-color: #ddd;}
.navbar-toggle .icon-bar {background-color: #fff;}
/*首页*/
#content{background: #f5f5f5;padding-bottom: 32px;}
.section1{margin-bottom: 28px;}
.section1 .container{background: #fff;padding:22px 10px 16px;}
.xw-hd{height: 57px;background: #004ea2;overflow: hidden;}
.xw-hd .xw-tit{font-size: 20px;color:#fff;text-align: center;min-width: 105px;line-height: 57px;float: left;}
.xw-hd .xw-more{float: right;padding-right: 5px;}
.xw-hd .xw-more a{color:#fff;font-size: 14px;line-height: 60px;}
.xw-hd .xw-more a:hover{text-decoration:underline;}
.xw-bd{padding:0 5px;}

.section2 .container{padding:0;}
.xwbox2{background: #fff;margin-bottom: 22px;}
.xw-hd2{height: 57px;overflow: hidden;}
.xw-hd2 .xw-tit{font-size: 20px;color:#fff;text-align: center;min-width: 182px;line-height: 57px;float: left;background: #004ea2;}
.xw-hd2 .xw-more{float: right;padding-right: 5px;}
.xw-hd2 .xw-more a{color:#004ea2;font-size: 14px;line-height: 60px;}
.xw-hd2 .xw-more a:hover{text-decoration:underline;}
.xw-bd2{padding:0 5px 15px;}
.xwbox3{background: #fff;}

.newTab{background: #fff;}
.TabTitle{height:57px;line-height: 57px;position: relative;}
.TabTitle li{float:left;cursor:pointer;text-align: center;}
.TabTitle li .tit{display:block;color:#fff;font-size:20px;line-height:57px;min-width:350px;background: #b4b3b3;margin-right: 8px;}
.TabTitle li.active .tit{background: #004ea2;}
.TabTitle li .tmore{position:absolute;right:5px;top:0px;display: none;color:#004ea2;font-size: 57px;}
.TabTitle li.active .tmore{display:block;}
.TabTitle li.active .tmore:hover{text-decoration:underline;}
.TabContent .cons{padding: 12px 5px;}
.TabContent .tab-fcons{padding:24px 18px 5px;}
.TabContent .con{padding: 0 5px 15px;}
.section3{margin: 22px 0 0;}
.section3 .container{padding:0;background: #fff;}
.xw-bd4{padding: 12px 10px 0;}
.xw-bd4 .pic{margin-bottom: 15px;}
.xw-bd4 .pic2{margin-bottom: 17px;}
.xw-bd4 .pic img,.xw-bd4 .pic2 img{width:100%;height: auto;}
/*尾部*/
.footer{background: #004ea2;padding:22px 0 60px;}
.xw-banq{text-align: right;}
.xw-copyright{font-size: 12px;color:#fff;line-height: 24px;}
.xw-copyright p{font-size: 12px;color:#fff;line-height: 24px;}
.xw-wz{font-size: 12px;color:#fff;line-height: 24px;}


@media (min-width: 1200px){
    .container{width: 1200px;}
}
@media (max-width: 1199px){
    .TabTitle li .tit {min-width: 200px;}
}
@media (max-width: 991px){
    .headbar {background:#004ea2;}
    .headbar .logo {padding: 20px 0;text-align: center;}
    .navbar {margin-top: 10px;}
    .xw-banq,.xw-wz,.xw-fico{text-align: center;}
}
@media (max-width: 767px){
    .xw-copyright{text-align: center;margin: 15px 0;}
}
@media (max-width: 500px){
    .TabTitle li .tit {min-width: 120px;}
}






 /*分页样式*/
DIV.scott {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.scott A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #88af3f; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
DIV.scott A:hover {
	BORDER-RIGHT: #D51D29 1px solid; BORDER-TOP: #D51D29 1px solid; BORDER-LEFT: #D51D29 1px solid; COLOR: #638425; BORDER-BOTTOM: #D51D29 1px solid; BACKGROUND-COLOR: #FEEE89
}
DIV.scott A:active {
	BORDER-RIGHT: #D51D29 1px solid; BORDER-TOP: #D51D29 1px solid; BORDER-LEFT: #D51D29 1px solid; COLOR: #638425; BORDER-BOTTOM: #D51D29 1px solid; BACKGROUND-COLOR: #FEEE89
}
DIV.scott SPAN.current {
	BORDER-RIGHT: #D61E2A 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #D61E2A 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #D61E2A 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #D61E2A 1px solid; BACKGROUND-COLOR: #D61E2A
}
DIV.scott SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}
#page {text-align: center;padding:10px 12px 6px; clear:both;}
#page .s1{width:52px; text-align:center;}
#page .s2{background:#1f3a87; border:1px solid #dcdddd; color:#fff; font-weight:bold; text-align:center;}
#page a.s2:visited {color:#fff;}
#page a{padding:2px 5px 2px; color:#1E50A2;background:#fff; border:1px solid #dcdddd; text-align:center;}
#page a:visited{color:#1f3a87;}
#page a:hover{color:#fff; background:#1E50A2; border:1px solid #1E50A2;}
#page .s3{cursor:default;padding:2px 5px 2px;;margin:5px 4px 0 0; color:#ccc;background:#fff; border:1px solid #ccc; text-align:center;}
