@charset "utf-8";
body, div, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin: 0px; padding: 0px; }
input, select, textarea { font-size:12px;font-family: "微软雅黑"; }
table { border-collapse: collapse; }
fieldset, img { border: 0; }
ol, ul, li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
body, td, th { font-size: 12px; }
body,html{width: 100%;height: 100%;overflow-x: hidden;text-align: left;-webkit-text-size-adjust: 100%!important;-moz-text-size-adjust: 100%!important;-ms-text-size-adjust: 100%!important;text-size-adjust: 100%!important;}
body {color:#333;font-family: "微软雅黑","宋体", Arial, Times;font-size: 12px;text-align: left;line-height: 150%;background:#f1f2f7;margin: 0px;}
select{font-size:12px;border: 1px solid #ccc;height:24px; line-height:24px;border-radius:4px;}
input,textarea,button,select{outline:none;}
input{outline:none;padding:1px 2px;}
input[type='text']:focus,textarea:focus{outline:1px #99D3FB solid; -moz-outline-radius: 4px; border-radius: 4px;box-shadow: 0 0 0 2px #99D3FB;}
label{font-weight:400;line-height:100%;}
a { font-size: 12px; }
a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:hover { text-decoration: none; color: #666666; }
a:active { text-decoration: none; color: #000000; }
.course a{font-weight:normal;}
.mtop { margin-top:10px; }
.txt{height:24px; line-height:24px;border-radius:4px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;margin:1px;}
.txt2{height:24px; line-height:24px;border-radius:4px;font-size: 14px;line-height: 1.42857143;color: #555;margin:10px 0;background-color: #fff;background-image: none;border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.topbgdiv { background:url(topbgimg.gif) repeat-x; }
.hover_table tr.clicked td{ background:#eeeeee; }
.hover_table tr.hover_tr td{ background:#F2F9FD; }
.clear { clear:both; height:1px; margin-top:-1px; overflow:hidden;font-size:0;width:100%;_width:98%; _margin-right:-15px; }
.fleft{float:left}
.fright{float:right}
.mt10,.mtop{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mb6{margin-bottom:6px;}
.mb10,.mbottom{margin-bottom:10px;}
.mb12{margin-bottom:12px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.text-center{text-align:center}
.u { text-decoration:underline; }
.helpspan{color:#999999;font-size:12px; font-weight:normal; text-align:left; padding-left:10px}
.helpicon{cursor: pointer;margin-left:5px}
.help{ display:none; padding-left:12px; color:#9f9f9f; line-height:14px}
.edit_btn {border:1px solid #3498db;font-weight:500;background:#3498db;color:#fff; height:28px;line-height:28px;margin-left:8px;cursor:pointer;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding:0 5px;}
a.edit_btn {color:#fff;text-decoration:none;}
.submit_btn{border:1px solid #3498db;font-weight:500;background:#3498db;color:#fff;font-size:14px;height:24px;line-height:24px;padding:0 15px;cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.screenbtn{width:98px;height:28px;line-height:28px;border:0;padding:0;background:#d9dfe5;border-radius:4px;}
.submit{width:64px;height:32px;line-height:32px;border:0;font-size:14px;color:#fff;padding-left:24px;background: #00a989 url(../icons/icon42.png) 4px center no-repeat;border-radius:4px;}
.headerbtn_list .refresh{width:64px;height:32px;line-height:32px;border:0;font-size:14px;color:#fff;padding-left:24px;background: #fda252 url(../icons/icon43.png) 4px center no-repeat;border-radius:4px;}
.setbtn{width:115px;height:22px;line-height:22px;border:0;color:#fff;margin:0 5px;background:url(../icon_btn03.png) no-repeat;text-indent:15px;}
.delbtn{width:115px;height:22px;line-height:22px;border:0;color:#fff;background:url(../icon_btn04.png) no-repeat;text-indent:15px;}
.cache_btn { width:216px; height:35px; cursor:pointer; margin:5px 8px; clear:both; color:#535353;font-size:14px;border:0;text-align:left; font-family:"微软雅黑"; }
.cache_one{padding-left:50px;background:url(../cache_bg.png) left top no-repeat;}
.cache_two{padding-left:70px;background:url(../cache_bg.png) left -45px no-repeat;}
.cache_btn2 { width:216px; padding-left:70px;height:35px; cursor:pointer; margin:10px 8px;color:#535353;font-size:14px;border:0;background: #dcdcdc url(../cache_bg.png) left -90px no-repeat;text-align:left;border-radius:4px;}
.section .open-btn{min-width:276px;padding-left:70px;padding-right:10px;line-height:35px;display:inline-block;margin:10px 8px;color:#535353;font-size:14px;border:0;background: #dcdcdc url(../cache_bg.png) left -90px no-repeat;text-align:left;border-radius:4px;}
.section .blue{color:#337ab7;}
.scrollbar::-webkit-scrollbar{width:0;height:0;color:transparent}.scrollbar::-webkit-scrollbar-track-piece{background-color:transparent;-webkit-border-radius:5px}.scrollbar::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical{background-color:#429cd8;-webkit-border-radius:3px;}
body .scrollbar:hover::-webkit-scrollbar{width:3px;height:3px;}
body .sites-container .content-container, body .sites-container .main-header, body .sites-container .content-main, body .sites-container, body .main-header, body .content-main {padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
body .sites-container .content-container, body .sites-container .content-main, body .container-container, body .content-main {height: 100%;}
body .sites-container .content-top{padding-top:80px;}
.sites-container {height: 100vh!important;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.main-header{width:100%;height:80px;position:fixed;top:0;left:0;z-index:1;}
.header-container{height:80px;border-bottom:4px solid #024f96;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-size: 14px;color: #333;position: relative;background: url(header.png) center center no-repeat;background-size: cover;}
.header-container .header-left, .header-container .header-right{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.header-container .header-left .logo{padding:0 40px 0 20px;margin-right:50px;background: url(../line.png) right center no-repeat;}
.header-container .header-left .logo img{max-width:100%;height:auto;}
.header-menu-item{position:relative;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content: flex-start;-ms-flex-align:center;align-items: center;}
.header-menu-item>li{height:76px;line-height:76px;padding:0 20px;color:#fff;font-size:18px;}
.header-menu-item>li>a{color:#fff;font-size:18px;text-decoration:none;}
.header-menu-item>li>a .icon{margin-bottom:-2px;margin-right:10px;}
.header-menu-item>li.current{background: rgba(255,255,255,.15);}
.header-menu-item .dropdown-menu{padding:0;margin-top: -1px!important;}
.header-member,.header-nav{color:#fff;font-size:14px;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;}
.header-member .dropdown{height:76px;padding-top:20px;}
.header-member .dropdown-menu{width:180px;border:1px solid #024f96;margin-top: -1px!important;line-height:24px;}
.login-info{padding:0 10px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.header-message{color:#fff;margin-right:20px;}
.header-message a{color:#fff;}
.header-message i{margin-right:5px;margin-bottom: -4px;}
.header-message span{font-size:12px;background-color:#f69e63;padding:2px 3px;margin-left:5px;border-radius:2px;text-align:center;}
.header-member h3{margin:0;font-size:16px;}
.header-member p{margin-bottom:0;}
.header-nav>li>a{color:#fff;padding:10px;font-size:14px;}
.header-nav>li>a .icon{margin-right:5px;margin-bottom: -4px;}
.header-nav .dropdown{line-height:76px;}
.header-nav .dropdown-menu{width:170px;left:auto;right:0;padding:0;min-width:170px;margin-top: -1px!important;}
.header-nav .dropdown-menu i{margin-right:5px;}
.header-nav .select{color:#fff;font-size:14px;background:#0a86cb;border:none;}
.header-nav .dropdown-menu>li>a{padding: 3px 10px;line-height:24px;}
.header-clik>li>a{display:block;padding:22px 10px;color:#fff;font-size:14px;text-decoration:none;}
.content-container{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;-ms-flex-preferred-size: auto;flex-basis: auto;-webkit-box-sizing: border-box;box-sizing: border-box;min-width: 0;}
.content-container-bg{background: url(bg.png) center center no-repeat;background-size: cover;}
.content-side{overflow: auto;-webkit-box-sizing: border-box;box-sizing: border-box;-ms-flex-negative: 0;flex-shrink: 0;}
.sider-menu-container{position:relative;overflow-x: hidden;overflow-y: overlay;background-color: #448aca;}
.sider-menu-left{width:280px;}
.sider-menu-left2{width:80px;background-color: #d5dddf;}
.content-main{display: block;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;-ms-flex-preferred-size: auto;flex-basis: auto;overflow: auto;-webkit-box-sizing: border-box;box-sizing: border-box;padding: 20px;}
.content-main-inner{width:90%;margin:0 auto;}
.sider-menu-container .menu-vertical{margin:0;}
.sider-menu-container .menu-vertical .menu-item{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:100%;height:70px;padding: 0;margin:0 !important;-webkit-transition: border-color .3s,background-color .3s,color .3s;transition: border-color .3s,background-color .3s,color .3s;}
.sider-menu-container .menu-vertical .menu-item a{color:#2e3a4a;font-size:14px;text-align:center;padding-bottom:5px;margin-right:0;border:none;border-bottom:3px solid transparent;border-radius:0;text-decoration:none;margin-top:0;}
.sider-menu-container .menu-vertical .menu-item i{display:block;margin:5px 0;font-size:16px;}
.sider-menu-container .menu-vertical .menu-item.active a{border-bottom:3px solid #1c81db;text-decoration:none;margin-top:0;}
.sider-menu-children-container{background-color: #eceff1;-webkit-transition: width .4s ease-out;transition: width .4s ease-out;text-align: left;overflow-x: hidden;overflow-y: overlay;padding-bottom: 50px;}
.sider-menu-children-container .title{color: #666;font-size: 18px;line-height: 20px;padding: 23px 0 25px 0;margin-left: 10px;margin-right: 10px;border-bottom: 1px solid #dde3e6;white-space: nowrap;}
.sider-menu-inner{width:100%;position:relative;}
.navbar-children>li{width:100%;font-size: 14px;color: #303133;list-style: none;cursor: pointer;position: relative;-webkit-transition: border-color .3s,background-color .3s,color .3s;transition: border-color .3s,background-color .3s,color .3s;-webkit-box-sizing: border-box;box-sizing: border-box;white-space: nowrap;}
.navbar-children>li>a{color: #303133;height:50px;line-height:50px;display:block;position:relative;padding: 0 20px;text-decoration:none;}
.navbar-children>li>a:hover,.navbar-children .active>a, .navbar-children .active>a:focus, .navbar-children .active>a:hover{color:#1c81db !important;}
.navbar-children>li>a .menu-arrow{color: #909399;position: absolute;top: 50%;right: 20px;margin-top: -7px;-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;transition: transform .3s;transition: transform .3s,-webkit-transform .3s;font-size: 14px;}
.navbar-children>li>.sub-menu{position:relative;min-width:100%;padding:0;border:0;border-radius: 0;background-color: transparent;box-shadow: none;}
.navbar-children .sub-menu>li>a{color: #303133;padding-left:40px;height:40px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.navbar-children .sub-menu>li>a:hover,.navbar-children .sub-menu>li>a.active{color:#1c81db !important;}
.navbar-children .sub-menu>li>a .dot{width: 3px;height: 3px;border-radius: 50%;background-color: #666;margin-right: 10px;}
.current-sites{width:263px;height:42px;margin:15px 0;background: url(bg2.png) left center no-repeat;}
.current-sites-nav{margin:0 40px;padding-left:30px;height:42px;line-height:42px;background: url(images/icon18.png) left center no-repeat;}
.current-sites-nav .select{width:100%;height:42px;line-height:42px;color:#4c4b1d;font-size:15px;border:0;background:none;}
.current-sites-nav .bootstrap-select.btn-group .dropdown-toggle .filter-option{color:#4c4b1d;font-size:15px;}
.current-sites-nav .bootstrap-select.btn-group .dropdown-toggle .caret{color:#9a993c;}
.sites-info{margin-bottom:20px;}
.nav-info{border-bottom:2px solid #00b7ee;margin-bottom:10px;}
.nav-info>li{float:left;display:block;margin-right:5px;}
.nav-info>li>a{color:#fff;background-color:#299cd8;padding:6px 15px;}
.nav-info>li.active>a,.nav-info>li>a:hover,.nav-info>li>a:focus{background-color:#00b7ee;}
.info-list>li{color:#fff;line-height:36px;padding:0 5px;}
.info-list a{color:#fff;}
.info-list .alias{margin-left:30px;}
.sites-tab-list{padding:0 5px;}
.sites-tab-list li{height:32px;line-height:32px;color:#f6f6f6;padding-left:20px;background: url(images/arrow-left.png) left center no-repeat;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;transition: transform linear 0.3s;}
.sites-tab-list li a{color:#f6f6f6;}
.sites-tab-list li span{float:right;font-size:10px;}
.sites-left-box{margin-bottom:20px;}
.sites-left-head{height:30px;line-height:30px;background-color:rgba(26,202,255,.13);position:relative;}
.sites-left-head .title{color:#fff;font-size:14px;position:relative;}
.sites-left-head .arrow {color:#34d0ff;display: inline-block;width: 0;height: 0;margin-left:5px;margin-right:10px;vertical-align: middle;border-left: 4px dashed;border-left: 4px solid\9;border-top: 4px solid transparent;border-bottom: 4px solid transparent;}
.sites-left-head .more{position:absolute;top:0;right:10px;}
.sites-left-head .more a{color:#fff;}
.sites-left-head .caret{color:#fff;margin-left:4px;border-top:4px dashed;border-top: 4px solid\9;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.sites-state li{color:#fff;text-align:center;}
.sites-state-btn{width:46px;margin:39px auto;}
.sites-explain{color:#fff;margin:0 10px;line-height:24px;}
.sites-explain a{color:#f6ba47;}
.sites-account{margin:15px 10px;padding:10px 0;height:88px;border:1px solid #5b98d0;}
.sites-account .table>tbody>tr>td{border:0;color:#fff;}
.sites-login li{color:#fff;text-align:center;}
.sites-login li .icon{width:32px;height:32px;margin:20px auto 10px;}
.sites-login li .icon-user{background-image: url(images/user.png);}
.sites-login li .icon-ip{background-image: url(images/ip.png);}
.sites-login li .icon-time{background-image: url(images/time.png);}
.sites-notice{margin:20px 10px;}
.sites-notice li{height:32px;line-height:32px;color:#fff;padding-left:10px;background: url(images/dot.png) left center no-repeat;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sites-notice li a{color:#fff;}
.sites-notice span{float:right;}
.sites-contact{border-top:2px solid #5e9ad1;padding-bottom:20px;}
.sites-contact-list li a{display:block;color:#fff;text-align:center;}
.sites-contact-list li i{display:block;width:78px;height:78px;border:4px solid #6fa5d6;margin:30px auto 20px;background-position:center center;background-repeat:no-repeat;}
.sites-contact-list li .icon-course{background-image: url(images/icon20.png);}
.sites-contact-list li .icon-follow{background-image: url(images/icon21.png);}
.browse_btn { border:1px solid #0087d2; background:#0087d2 url(../icons/icon57.png) 4px center no-repeat; color:#fff; padding:2px 10px 2px 25px;border-radius:4px;}
.check{display:block;height: 14px;width: 40px;position: relative;overflow: hidden;border-radius: 20px;margin:14px auto;overflow: hidden;cursor: pointer;}
.check input{margin:0;}
.check-btn {z-index: 2;opacity: 0;cursor: pointer;}
.check-btn:checked ~ .check-indicator {background: #00b7ee;}
.check-btn:checked ~ .check-indicator:after {-webkit-transform: translate(25px, 0);transform: translate(25px, 0);}
.check-btn,.check-indicator{height: 100%;width: 100%;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: 0;}
.check-indicator{background: #fff;transition: background 0.25s ease;}
.check-indicator:after{height: 12px;width: 12px;background: #00b7ee;content: '';position: absolute;border-radius: 100%;top: 1px;left: 1px;transition: -webkit-transform 0.25s ease;transition: transform 0.25s ease;transition: transform 0.25s ease, -webkit-transform 0.25s ease;}
.sites-state li .blue{border:6px solid #00b7ee;display:block;width:56px;height:56px;line-height:44px;margin:20px auto;border-radius:50%;}
.sites-state li .green{border:6px solid #acd598;display:block;width:56px;height:56px;line-height:44px;margin:20px auto;border-radius:50%;}
.mainborder {width:100%;position:relative;}
.mainbox-left{width:75%;float:left;}
.mainbox-right{width:25%;float:left;}
.section{margin:15px 15px 0 15px;padding:15px;background-color:#ffffff;border-radius:10px;box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.sites-top-menu{position:relative;}
.sites-top-menu li {float:left;height:30px;letter-spacing:1px;margin:5px 10px;}
.sites-top-menu li a{display:block;line-height:28px;padding:0 15px;border:1px solid #e5e5e5;text-decoration:none;-webkit-box-shadow: 1px 1px 1px; -moz-box-shadow: 1px 1px 1px; box-shadow: 1px 1px 1px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.sites-top-menu li.active a{color:#fff;background: #3498db;text-decoration:none;border-color:#3498db;}
.sites-top-menu li.course{float:right;}
.sites-top-menu li.course a{padding:0;color:inherit;background:none;border:0;box-shadow:none;}
.sites-top-menu .unlock{height: 30px;padding:0 15px;margin-top: 10px;margin-bottom: 10px;}
.sites-top-menu li i, .sites-top-menu2 li i{width:16px;height:16px;line-height:20px;margin-right:8px;font-size:16px;}
.sites-down-menu { display:inline-block; width:100%;background:#fff;}
.sites-down-menu li {height:36px;line-height:36px;float:left;text-align:center;margin:5px 5px 5px 0;position:relative;cursor:pointer;border-radius:4px; }
.sites-down-menu li a{padding:0 10px;color:#fff;display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: flex-start;-ms-flex-align: center;align-items: center;}
.sites-down-menu li.active {background:#3498db;}
.sites-down-menu .dropdown-menu{min-width:100%;margin:0;box-shadow:none;border:0;background-color:transparent;}
.sites-down-menu .dropdown-menu li{width:100%;height:30px;line-height:30px;margin:0 0 5px 0;}
.sites-down-menu .dropdown-menu li a{color:#fff;font-size:12px;line-height:30px;padding:0 5px;}
.sites-down-menu .dropdown-menu li a:hover{background-color:#3498db;border-radius:4px;}
.cache-btn{display:block;border:0;height:36px;line-height:36px;color:#fff;padding:0 10px 0 30px;background: url(../icons/icon32.png) 5px center no-repeat;}
.section-operation{display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: flex-start;-ms-flex-align: center;align-items: center;}
.section-operation h3{width:110px;color:#803838;font-size:16px;line-height:30px;padding-left:30px;background: url(../icons/lamp.png) left center no-repeat;}
.section-operation2{line-height:30px;}
.section-operation2 h3{color:#803838;font-size:16px;line-height:30px;padding-left:30px;background: url(icons/lamp.png) left center no-repeat;}
.section-operation2 .operation-text{font-size:14px;color:#333;}
.publish-main{height: 100%;width: 100%;}
.publish-form{height: 100%;position:relative;}
.publish-form-title{color:#164ebd;font-size:15px;border-left:4px solid #164ebd;padding-left:10px;}
.publish-form-title2{padding-left:20px;border-left:none;background: url(../icons/icon58.png) left center no-repeat;}
.publish-form-title3{padding-left:20px;border-left:none;background: url(../icons/icon59.png) left center no-repeat;}
.publish-form-item{padding-bottom:2px;border-bottom:1px solid #d9d9d9;margin-bottom:20px;}
.publish-form-item2{padding-bottom:10px;}
.publish-form-item .txt-inner{width: 100%;height: 32px;line-height: 32px;display: block;border: none;text-indent: 0;padding: 0;background: none !important;box-shadow:none;outline:none;}
.publish-form-item .txt-inner2{width: 100%;height: 32px;line-height: 32px;border: none;border-bottom:1px solid #d9d9d9;text-indent: 0;padding: 0;background: none !important;box-shadow:none;}
.publish-form-item .txt-inner3{width: 80%;height: 32px;line-height: 32px;border: none;border-bottom:1px solid #d9d9d9;text-indent: 0;padding: 0;background: none !important;box-shadow:none;}
.publish-form-item label{margin:5px 0;}
.txt-inner:hover,.txt-inner2:hover{border-color:#c0c4cc}
.txt-inner:focus{outline:none;border-color:#4886ff}
.txt-inner2:focus,.txt-inner3:focus{outline:none;}
.publish-main .ui-tabs{border:0 !important;padding:0;}
.publish-main .ui-tabs .ui-tabs-nav{height:44px;padding:0;margin-bottom:20px;border:0;background:#fff;position:relative;}
.publish-main .ui-tabs .ui-tabs-nav:after{width:100%;height:2px;background:#dee4e8;content:"";position:absolute;left:0;bottom:3px;}
.publish-main .ui-tabs .ui-tabs-nav li{width:33.33333333%;height:42px;line-height:42px;margin:0;padding:0 5px;font-size:16px;}
.publish-main .ui-tabs .ui-tabs-nav li a{width:100%;display:block;font-size:16px;text-align:center;padding:0;}
.publish-main .ui-state-default,.publish-main .ui-widget-content .ui-state-default,.publish-main .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{border:0;background:#fff;}
.publish-main .ui-state-active, .publish-main .ui-widget-content .ui-state-active, .publish-main .ui-widget-header .ui-state-active{border:0;border-bottom:4px solid #3472ef !important;background:transparent !important;position: relative;z-index: 1;}
.publish-main .ui-state-default a,.publish-main .ui-state-focus a,.publish-main .ui-state-focus a:hover,.publish-main .ui-state-focus a:link,.publish-main .ui-state-default a:link,.publish-main .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{color:#2b2f36;cursor:pointer !important;border:0;outline:none;}
.publish-main .ui-state-active a,.publish-main .ui-state-active a:link,.publish-main .ui-state-focus a,.publish-main .ui-state-focus a:link.publish-main .ui-state-active a:visited{color:#3472ef !important;border:0;outline:none;}
.publish-main .ui-tabs .ui-tabs-panel{border:0;padding:0;}
.operation-nav{display:inline-block;margin:0 auto;}
.operation-nav>li{float:left;margin:0 2px;display:inline-block;}
.operation-nav>li>a{color:#fff;padding:0 5px;height:22px;line-height:22px;display:block;border-radius:4px;}
.operation-nav>li>a>.icon{width:18px;height:18px;margin-bottom:-4px;margin-right:2px;}
.operation-nav .dropdown-menu{background:none;min-width:80px;margin:0;border:0;border-radius:0;box-shadow:none;}
.operation-nav>li:hover .dropdown-menu{display:block;margin:0;}
.operation-nav .dropdown-menu li{border-radius:4px;margin-bottom:5px;}
.operation-nav .dropdown-menu li a{color:#fff;font-size:12px;line-height:20px;padding:0 5px;border-radius:4px;}
.operation-nav .dropdown-menu li a i{margin-bottom:-4px;margin-right:4px;}
.operation-nav .dropdown-menu li a:hover{background-color:#3498db;}
.course .operation-nav .dropdown-menu li a{line-height:30px;}
.course .operation-nav .dropdown-menu li a i{margin-bottom:2px;}
.btn-color1{background:#0079bd;}
.btn-color2{background:#00aba7;}
.btn-color3{background:#69b95f;}
.btn-color4{background:#69b95f;}
.btn-color5{background:#947e67;}
.btn-color6{background:#9da127;}
.btn-color7{background:#6fc4c1;}
.btn-color8{background:#f88d00;}
.btn-color9{background:#a84c8d;}
.btn-color10{background:#00aeea;}
.btn-color11{background:#9d8871;}
.btn-color12{background:#8678b3;}
.btn-color13{background:#4b65ab;}
.btn-color14{background:#f695bb;}
.btn-color15{background:#eb6877;}
.btn-color16{background:#6bb382;}
.btn-color17{background:#818cc3;}
.btn-color18{background:#367fc1;}
.btn-color19{background:#6a819e;}
.btn-color20{background:#00928b;}
.btn-color21{background:#ab5597;}
.btn-color22{background:#ac7d48;}
.btn-color23{background:#005ead;}
.btn-color24{background:#0096e4;}
.btn-color25{background:#f16099;}
.btn-color26{background:#7aba21;}
.btn-color27{background:#9f6b93;}
.btn-color28{background:#4b6c96;}
.btn-color29{background:#a988a1;}
.btn-color30{background:#a19e55;}
.btn-color31{background:#83b242;}
.btn-color32{background:#f7906c;}
.btn-color33{background:#584995;}
.btn-color34{background:#2f66ab;}
.btn-color35{background:#504037;}
.btn-color36{background:#b7ad2a;}
.btn-color37{background:#60b2d7;}
.btn-color38{background:#c286b6;}
.btn-color39{background:#3a5e00;}
.btn-color40{background:#fda252;}
.btn-color41{background:#556fb5;}
.btn-color42{background:#13b5b1;}
.btn-color43{background:#80c269;}
.btn-color44{background:#ea68a2;}
.btn-color45{background:#448aca;}
.btn-color46{background:#0079c2;}
.btn-color47{background:#f44e5c;}
.icon{width:20px;height:20px;display:inline-block;margin-right:5px;background-position:center center;background-repeat:no-repeat;background-size: cover;}
.icon-ico1{background-image: url(../icons/icon1.png);}
.icon-ico2{background-image: url(../icons/icon2.png);}
.icon-ico3{background-image: url(../icons/icon3.png);}
.icon-ico4{background-image: url(../icons/icon4.png);}
.icon-ico5{background-image: url(../icons/icon5.png);}
.icon-ico6{background-image: url(../icons/icon6.png);}
.icon-ico7{background-image: url(../icons/icon7.png);}
.icon-ico8{background-image: url(../icons/icon8.png);}
.icon-ico9{background-image: url(../icons/icon9.png);}
.icon-ico10{background-image: url(../icons/icon10.png);}
.icon-ico11{background-image: url(../icons/icon11.png);}
.icon-ico12{background-image: url(../icons/icon12.png);}
.icon-ico13{background-image: url(../icons/icon13.png);}
.icon-ico14{background-image: url(../icons/icon14.png);}
.icon-ico15{background-image: url(../icons/icon15.png);}
.icon-ico16{background-image: url(../icons/icon16.png);}
.icon-ico17{background-image: url(../icons/icon17.png);}
.icon-ico18{background-image: url(../icons/icon18.png);}
.icon-ico19{background-image: url(../icons/icon19.png);}
.icon-ico20{background-image: url(../icons/icon20.png);}
.icon-ico21{background-image: url(../icons/icon21.png);}
.icon-ico22{background-image: url(../icons/icon22.png);}
.icon-ico23{background-image: url(../icons/icon23.png);}
.icon-ico24{background-image: url(../icons/icon24.png);}
.icon-ico25{background-image: url(../icons/icon25.png);}
.icon-ico26{background-image: url(../icons/icon26.png);}
.icon-ico27{background-image: url(../icons/icon27.png);}
.icon-ico28{background-image: url(../icons/icon28.png);}
.icon-ico29{background-image: url(../icons/icon29.png);}
.icon-ico30{background-image: url(../icons/icon30.png);}
.icon-ico31{background-image: url(../icons/icon31.png);}
.icon-ico32{background-image: url(../icons/icon32.png);}
.icon-ico33{background-image: url(../icons/icon33.png);}
.icon-ico34{background-image: url(../icons/icon34.png);}
.icon-ico35{background-image: url(../icons/icon35.png);}
.icon-ico36{background-image: url(../icons/icon36.png);}
.icon-ico37{background-image: url(../icons/icon37.png);}
.icon-ico38{background-image: url(../icons/icon38.png);}
.icon-ico39{background-image: url(../icons/icon39.png);}
.icon-ico40{background-image: url(../icons/icon40.png);}
.icon-ico41{background-image: url(../icons/icon41.png);}
.icon-ico42{background-image: url(../icons/icon42.png);}
.icon-ico43{background-image: url(../icons/icon43.png);}
.icon-ico44{background-image: url(../icons/icon44.png);}
.icon-ico45{background-image: url(../icons/icon45.png);}
.icon-ico46{background-image: url(../icons/icon46.png);}
.icon-ico47{background-image: url(../icons/icon47.png);}
.icon-ico48{background-image: url(../icons/icon48.png);}
.icon-ico49{background-image: url(../icons/icon49.png);}
.icon-ico50{background-image: url(../icons/icon50.png);}
.icon-ico51{background-image: url(../icons/icon51.png);}
.icon-ico52{background-image: url(../icons/icon52.png);}
.icon-ico53{background-image: url(../icons/icon53.png);}
.icon-ico54{background-image: url(../icons/icon54.png);}
.icon-ico55{background-image: url(../icons/icon55.png);}
.icon-ico56{background-image: url(../icons/icon56.png);}
.icon-arrow{width:15px;height:15px;background-image: url(images/arrow-left3.png);}
.icon-nav1{background-image: url(images/icon1.png);}
.icon-nav2{background-image: url(images/icon2.png);}
.icon-nav3{background-image: url(images/icon3.png);}
.icon-nav4{background-image: url(images/icon4.png);}
.icon-nav5{background-image: url(images/icon5.png);}
.icon-nav6{background-image: url(images/icon6.png);}
.icon-nav7{background-image: url(images/icon7.png);}
.icon-nav8{background-image: url(images/icon8.png);}
.icon-nav9{background-image: url(images/icon9.png);}
.icon-nav10{background-image: url(images/icon10.png);}
.icon-nav11{background-image: url(images/icon11.png);}
.icon-nav12{background-image: url(images/icon12.png);}
.icon-nav13{background-image: url(images/icon13.png);}
.icon-nav14{background-image: url(images/icon14.png);}
.icon-nav15{background-image: url(images/icon15.png);}
.icon-nav16{background-image: url(images/icon16.png);}
.icon-nav17{background-image: url(images/icon17.png);}
.sites-top{padding:30px 0;}
.sites-nav{width:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;}
.sites-nav>li>a{display:block;color:#fff;font-size:15px;padding:15px 0;margin-bottom:5px;text-align:center;}
.sites-nav>li>a>span{display:block;width:82px;height:82px;margin:10px auto;border:4px solid #f6ba47;border-radius:50%;}
.sites-nav>li:nth-child(2)>a>span{border:4px solid #85ddd9;}
.sites-nav>li:nth-child(3)>a>span{border:4px solid #cce198;}
.sites-nav>li:nth-child(4)>a>span{border:4px solid #23e8ff;}
.sites-nav>li:nth-child(5)>a>span{border:4px solid #15df8c;}
.sites-nav>li:nth-child(6)>a>span{border:4px solid #f9f45b;}
.sites-nav>li>a>span>img{width:72px;height:auto;}
.nav>li>a:focus, .nav>li>a:hover{background-color: transparent;}
.sites-nav .open>a, .sites-nav .open>a:focus, .sites-nav .open>a:hover{background: url(images/hover.png) center bottom no-repeat;}
.sites-nav .dropdown-menu{min-width:130px;left:50%;margin-left:-65px;padding:0;border:none;background-color:transparent;}
.sites-nav .dropdown-menu li{margin-bottom:1px;}
.sites-nav .dropdown-menu li a{padding:5px 5px;color:#fff;background-color: rgba(0,183,283,.68);}
.sites-nav .dropdown-menu li a:hover{background-color:#0068b7;}
.sites-nav .dropdown-menu li a .arrow{width:10px;height:8px;display:inline-block;margin:0 8px;background: url(images/arrow-left.png) center center no-repeat;}
.sites-news-box{margin-bottom:24px;}
.sites-news-head{height:40px;line-height:40px;padding:0 20px;background-color:#448aca;border-top-left-radius:10px;border-top-right-radius:10px;}
.sites-news-head .title{color:#fff;font-size:14px;}
.sites-news-head .more a{color:#fff;}
.sites-news-main{min-height:130px;padding:15px 20px;background-color:rgba(255,255,255,.48);border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.sites-news-main2{height:176px;padding:15px 20px;background-color:rgba(255,255,255,.48);border-top-right-radius:10px;border-bottom-right-radius:10px;}
.sites-news-main3{min-height:160px;padding:15px 20px;background-color:rgba(255,255,255,.48);border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.sites-news-head2{width:36px;height:176px;background-color:#448aca;padding-right:0 !important;border-top-left-radius:10px;border-bottom-left-radius:10px;}
.sites-news-head2 .title{color:#fff;font-size:16px;padding:30px 5px;line-height:28px;text-align:center;}
.sites-data{padding:0 3%;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;}
.sites-data li{font-size:14px;text-align:center;margin-top:10px;}
.sites-data .data{width:80px;padding-top:25px;display:block;font-size:15px;margin:0 auto 15px;background: url(images/data1.png) center top no-repeat;}
.sites-data .total{color:#429cd8;font-size:12px;padding-top:5px;display:block;}
.sites-data .reflash{width: 80px;color:#fff;display:block;margin: 10px auto;background-color:#448aca;border-radius:4px;}
.sites-data li:hover .data{background: url(images/data2.png) center top no-repeat;}
.sites-news-list li{height:32px;line-height:32px;transition: transform linear 0.3s;}
.sites-news-list li .title{max-width: 100%;display:block;font-size:14px;padding-left:24px;background: url(images/arrow-left2.png) left center no-repeat;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sites-news-list li .btn-red{color:#c00;}
.sites-news-list li .btn-blue{color:#448aca;}
.nav-sites>li{float:left;color:#fff;font-size:14px;}
.nav-sites>li>a{color:#fff;}
.nav-sites>li>a>span{padding:0 2px;}
.sites-links{margin-top:10px;}
.sites-links>li{margin-bottom:15px;}
.sites-links>li>a{width:100%;display:block;height:36px;line-height:36px;font-size:14px;background-color:rgba(255,255,255,.36);text-align:center;}
.sites-links>li>a>.icon{margin-right:10px;margin-bottom: -5px;}
.sites-links2>li>.title{max-width: 100%;display:block;height:36px;line-height:36px;font-size:14px;padding-left:24px;background: url(images/arrow-left2.png) left center no-repeat;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sites-menu-head{margin:10px 0 15px;}
.sites-menu-head h3{color:#154b7e;font-size:16px;padding-bottom:10px;border-bottom:3px solid #116bc1;}
.sites-menu-head h3 a{color:#154b7e;font-size:16px;}
.sites-menu-list{width:100%;margin:0 -10px;display:-ms-flexbox;display:flex;flex-wrap:wrap;-ms-flex-pack:justify;-ms-flex-align:center;align-items:center;}
.sites-menu-list>li{width:12.5%;padding:0 10px;}
.sites-menu-list>li>a{display:block;height:46px;line-height:46px;color:#383838;font-size:14px;background-color:#eaf6fb;margin-bottom:20px;overflow:hidden;}
.sites-menu-list>li>a>i{margin:0 10px;}
.sites-menu-list>li>a:hover{color:#154b7e;}
.sites-menu-list .icon-arrow{margin-bottom:-2px;}

.statistics-box{position: relative;background: #ffffff;width: 100%;}
.statistics-box label{color:#154978;font-size:14px;}
.table-getoutline{width: 100%;font-size: 14px;}
.table-getoutline th {height: 16px;line-height: 16px;padding: 0px 10px;text-align:center;color: #606a74;white-space: nowrap;font-weight: 400;}
.table-getoutline tr.title {border-bottom: none;height: 30px;line-height: 30px;}
.table-getoutline tr td {border-left: 1px solid #f0f0f0;padding: 6px 20px 6px 5px;height: 17px;line-height: 17px;white-space: nowrap;text-align: right;}
.table-getoutline tr.empty-tr2 {height: 20px;border-top: 1px solid #f0f0f0;}
.table-getoutline tr.toggleable-hidden {display: none;}
.statistics-box .fold {height:36px;text-align: center;border-top: 1px solid #f0f0f0;margin: 0;}
.fold .toggleable {width:76px;height:36px;margin-top: -1px;background: url(images/arrow-down2.png) center top no-repeat;}
.fold a{display: inline-block;width: 72px;height: 10px;background-color: transparent;cursor: pointer;}
.statistics-tab{padding:5px;}
.statistics-tab .btn-primary {color: #fff;background-color: #2c3e50;border-color: #2c3e50;}
.statistics-tab .btn-default {background-color: #f4f4f4;color: #444;border-color: #ddd;}
.statistics-box .head .title{padding: 0px 0px 10px;color:#154978;font-size:14px;}
.statistics-box .head .title .arrow-left{display: inline-block;color:#497593;width: 0;height: 0;margin-right: 5px;vertical-align: middle;border-left: 6px dashed;border-top: 6px solid transparent;border-bottom: 6px solid transparent;}
.statistics-margin{margin:15px;}
.statistics-section{margin-bottom:15px;padding:15px;background-color:#ffffff;border-radius:10px;box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.table-overview tr td {color: #787a7d;height: 20px;line-height: 20px;padding: 0 0 10px!important;}
.table-overview tr td.ratio{text-align: left;padding-left: 20px!important;}

.boxmenu3 {width:50%;background:#fff;float:right;}
.boxmenu3 li {height:28px;line-height:28px;float:right;text-align:center;margin:0px 5px 0px 0;position:relative;cursor:pointer;border-radius:4px; }
.boxmenu3 li a{padding:0 10px;color:#fff;display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: flex-start;-ms-flex-align: center;align-items: center;}
.boxmenu3 li.active {background:#3498db;}

#zq_logo {float:left;padding:0 20px 0 20px;}
#topbgtb { background:url(topbgimg.gif); }
#zq_word { float:left; padding:38px 0 0 12px; }
#zq_login { float:right; padding:30px 12px 0 0; }
#zq_navbj { background:#1e4972; height:48px; }
#zq_logo td { padding-left:40px }
.sitetop{position:absolute;top:10px;right:12px;}
.sitetop li{float:left;position:relative;}
.sitetop li a{display:block;padding-left:18px;}
.sitetop li.spe{margin:0 4px;}
.sitetop li.li1 a{background:url(ico01.png) left center no-repeat;}
.sitetop li.li2 a{background:url(ico02.png) left center no-repeat;}
.sitetop li.li3 a{background:url(ico03.png) left center no-repeat;}
.sitetop li.li4 a{background:url(ico04.png) left center no-repeat;}
.sitetop li.li5 a{background:url(ico05.png) left center no-repeat;}
.sitetop li.li6 a{background:url(ico06.png) left center no-repeat;}
.sitetop li.li7 a{background:url(ico07.png) left center no-repeat;}
.sitetop li.li8 a{background:url(ico08.png) left center no-repeat;}
.sitetop .subnav{position:absolute;top:18px;left:0;z-index:15;background-color:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);-moz-box-shadow:0 0 10px rgba(0,0,0,.2);-ms-box-shadow:0 0 10px rgba(0,0,0,.2);-o-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);border-top:3px solid #eb9c18;display:none;}
.sitetop .subnav li{width:100%;margin-left:0;text-align:left;}
.sitetop .subnav li a{float:left;width:100%;padding:5px 10px;display:block;font-size:12px;color:#333;background:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
.sitetop .subnav li a:hover{color:#0751a1}
.sitetop li:hover .subnav{display:block;}
.sitesname span{padding:15px 0 15px 40px;font-weight:bold;margin-left:15px;background: url(sites.png) left center no-repeat;}
.sitesname a{margin-left:15px;color:#1e4972;display:inline-block;height:28px;line-height:28px;}
.sitesname a.s1{padding-left:35px;font-size:14px;background: url(ico24.png) left center no-repeat;font-weight:bold;}
.sitesname a.s2{padding-left:35px;font-size:14px;background: url(ico25.png) left center no-repeat;font-weight:bold;}
.sitesname a.s3{padding-left:35px;font-size:14px;background: url(ico26.png) left center no-repeat;font-weight:bold;}
.sitesname a:hover{color:#cc0000;}
.sitesname select{font-weight:bold;}
#zq_navbj span {width:12%;float:left;height:48px;line-height:48px;background:url(nav_x.png) 130px center no-repeat;}
#zq_navbj span a {display:block;padding-left:30px;margin:0 25px;color:#fff; font-weight:normal; font-size:16px; }
#zq_navbj span a.m1{background: url(ico14.png) left center no-repeat;}
#zq_navbj span a.m2{background: url(ico15.png) left center no-repeat;}
#zq_navbj span a.m3{background: url(ico16.png) left center no-repeat;}
#zq_navbj span a.m4{background: url(ico17.png) left center no-repeat;}
#zq_navbj span a.m5{background: url(ico18.png) left center no-repeat;}
#zq_navbj span a.m6{background: url(ico19.png) left center no-repeat;}
#zq_navbj span a.m7{background: url(ico20.png) left center no-repeat;}
#zq_navbj span a.m8{background: url(ico21.png) left center no-repeat;}
#zq_navbj span a.m9{background: url(ico22.png) left center no-repeat;}
#zq_navbj span ul.sec_menu {width:10%;display:none; background-color:#eeeeee; z-index:99;position:absolute; border:1px solid #cccccc;}
#zq_navbj span ul.sec_menu li a {display:block; text-align:center;height:30px;line-height:28px;padding:0 3px;margin:0;color:#999;border-bottom:1px dashed #fff;font-size:12px;background:none; }
#zq_navbj span ul.sec_menu li a:hover { color:#ffffff; background-color:#cccccc }
#x_nav td { height:20px;padding:10px 25px; background:url() }
.zq_list{ width:100%;_margin-right:-15px;word-break:break-all;}
.zq_list .list_top {color: #2a2a2a;height:40px;line-height:40px;padding:0;border-bottom: 2px solid #cfd1d3;background: #e8ebf3;font-weight:bold;white-space: nowrap;vertical-align: middle;}
.zq_list .list_left { border-left:0px solid #fff; padding-right:10px;text-align:left;}
.zq_list .list_ico{padding-left:30px;background:url(ico09.png) 5px center no-repeat;text-align:left;font-weight:bold; }
.zq_list .list_ico2 {padding-left:25px;background:url(ico12.png) 10px center no-repeat;}
.zq_list .hover_tr .list_ico{background: #F2F9FD url(ico10.png) 5px center no-repeat;}
.zq_list .list_right { border-right:0px solid #fff; }
.zq_list .list_title a{color:#6d6d6d;}
.zq_list .list_title a:focus{color:#225ca6;}
.zq_list .list_title a.btn1{width:69px;color:#fff;font-size:8px;padding:2px 0 2px 15px;margin-right:10px;float:right;background: url(icon_blue01.png) no-repeat;}
.zq_list .list_title a.btn2{width:75px;color:#fff;font-size:8px;padding:2px 0 2px 15px;margin-right:10px;float:right;background: url(icon_blue02.png) no-repeat;}
.zq_list .list_title a.btn3{color:#fff;font-size:8px;padding:2px 5px;margin-right:10px;float:right;background:#00b7ef;}
.zq_list .list_btn a{color:#fff;padding:0 5px;}
.zq_list .list_btn2 a{display:inline-block;width:62px;height:25px;line-height:25px;padding:0;font-size:12px;color:#fff;text-indent:15px;margin:0 3px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.zq_list .list_btn2 a.rebtn{background: url(reBtn.png) no-repeat;}
.zq_list .list_btn2 a.debtn{background: url(delBtn.png) no-repeat;}
.zq_list .list_btn2 a.seebtn{background: url(seeBtn.png) no-repeat;}
.zq_list .tdL { padding-left:20px; text-align:left;}
.zq_list .tdR { padding-left:10px; text-align:left;}
.zq_list .tdR div{padding:2px 0;}
.zq_list .tdR span.text_r {padding-right:10px;text-align:right;float:left;width:200px;line-height:28px;}
.zq_list .tdR span.opion_radio {padding-left:10px;text-align:left;float:left;width:135px;line-height:28px;}
.zq_list .tdL2 { padding-left:20px; text-align:left;width:15%;font-size:14px;color:#1e4972;font-weight:bold;}
.zq_list .tdR2 { padding-left:10px; text-align:left;width:85%;}
.zq_list textarea{width:100%;}
.zq_list .bold,.zq_list .bold .txt{font-weight:bold;color:#1e4972;}
.zq_list td {border-bottom:1px solid #e1e6eb;color:#6d6d6d;height:40px; text-align:center; background-color: #ffffff; vertical-align: middle; }
.zq_list td.c_name{text-indent:10px;}
.zq_list .item_td{padding:4px 10px;text-align:left;line-height:24px;}
.zq_list .list_item{line-height:24px;}
.zq_list .item_title{padding-left:12px;background:url(ico13.png) left center no-repeat;}
.zq_list .level{border-radius: 50%;background: #3498db;padding:3px 5px;color:#fff;width:10px;height:10px;}
.zq_list  .optlist a{display:inline-block;color:#fff;padding:2px 3px;}
.zq_list  .optlist a.ys1{background:#206eb5;}
.zq_list  .optlist  a.ys2{background:#206eb5;}
.zq_list  .optlist  a.ys3{background:#b28850;}
.zq_list  .optlist  a.ys4{background:#00b7ee;}
.zq_list  .optlist  a.ys5{background:#00b7ee;}
.zq_list  .optlist  a.ys6{background:#13b5b1;}
.zq_list  .optlist  a.ys7{background:#00a0e9;}
.zq_list  .optlist  a.ys8{background:#80c269;}
.zq_list td.parts {border:none;padding:0; }
.zq_list td.head{text-align:left;padding-left:20px;background-color:#ededed;}
.zq_list .tdL3{padding-left:20px; text-align:left;width:26.15%;}
.zq_list .tdR3{padding-left:10px; text-align:left;}
.zq_list .manager_ids li{float:left; display:inline-block; margin-right:30px}
.zq_list .delete_link{color:red; cursor:pointer}
.zq_list .role_span{margin-right:30px;float:left; display:inline-block; width:100px; margin-bottom:10px}
.formtable td.tdL {border-right: #EFEFEF solid 1px;}
.formtable td.tdR{line-height:40px;}
#form .button{background:#448aca;border:1px solid #448aca;color:#fff;padding:2px 5px;margin:10px 5px;font-family:"微软雅黑";-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;cursor:pointer;}
.boxmenu { display:inline-block; width:100%;}
.boxmenu li {height:36px;line-height:36px;float:left;text-align:center;margin:5px 5px 5px 0;position:relative;cursor:pointer;border-radius:4px; }
.boxmenu li a{padding:0 10px;color:#fff;border-radius:4px;display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: flex-start;-ms-flex-align: center;align-items: center;}
.boxmenu .dropdown-menu{min-width:100%;margin:0;box-shadow:none;border:0;background-color:transparent;}
.boxmenu .dropdown-menu li{width:100%;height:30px;line-height:30px;margin:0 0 5px 0;}
.boxmenu .dropdown-menu li a{color:#fff;font-size:12px;line-height:30px;padding:0 5px;}
.boxmenu .dropdown-menu li a:hover{background-color:#3498db;border-radius:4px;}
.boxmenu2 {display:inline-block; width:100%; }
.boxmenu2 li {height:36px;line-height:36px;float:left;margin:0 10px 10px 10px;cursor:pointer;}
.boxmenu2 li a {padding:0 10px;color:#fff;border-radius:4px;display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: flex-start;-ms-flex-align: center;align-items: center;}
/*操作*/
.column-operation li{float:left;}
.column-operation li a{display:block;}
.column-operation .dropdown-menu{top:auto;bottom:100%;min-width:100%;padding:0;box-shadow:none;border:0;background-color:transparent;}
.column-operation .edit_btn{margin:2px;}
.but_border { border-bottom:2px solid #d7d7d7;}
#attributes label{margin-right:10px;}
label.error { color:#ff0000; margin:0 5px; padding-left:15px; background:url(../error.gif) left no-repeat; }
.ajaxing { position: absolute; width: 100px; background: #EFEFEF url(../../../images/wait-big.gif) no-repeat 2px 2px; padding: 10px 0px 10px 40px; border: 1px solid #AAAAAA; font-weight: bold; }

.tagtable td { border-bottom:1px solid #8CB7E0; padding-left:20px }
.tagtable a { float:left; padding:5px 5px 0 5px; margin-left:10px; font-weight:bold }
#footer {margin-top:20px;background:url(footbg.png) repeat-x;}
#footer td{text-align:center; padding:25px 10px;}
#footer ul li{line-height:20px;color:#6d6d6d;}
#footer ul li a{color:#6d6d6d;}}
.operate { border:1px solid #e1e6eb; margin-top:10px; height:50px; line-height:50px; }
.operate ul { border:1px solid #fff; height:20px; padding:14px 12px; background:#E5EFF1; margin:0; }
.operate li { float:left; background: url(libg.png) repeat-x; height:18px; line-height:20px; _line-height:18px; border:1px solid #0C73BE; padding:0 6px; margin:0 8px; list-style:none; list-style-image:none; list-style-type:none; }
.foot_btn {*display:inline; margin:15px 0px; }
.foot_btn td{padding:15px 5px;}
#page {padding-left:20px; }

.pages{ padding:10px 12px 6px; clear:both; font-size: 12px; }
.pages .s1{width:52px; text-align:center;}
.pages .s2{background:#1f3a87; border:1px solid #dcdddd; color:#fff; font-weight:bold; text-align:center;}
.pages a.s2:visited {color:#fff;}
.pages a{padding:4px 5px 0; color:#1E50A2;background:#fff; border:1px solid #dcdddd; text-align:center;}
.pages a:visited{color:#1f3a87;} 
.pages a:hover{color:#fff; background:#1E50A2; border:1px solid #1E50A2;}
.pages .s3{cursor:default;padding:4px 5px 0;margin:5px 4px 0 0; color:#ccc;background:#fff; border:1px solid #ccc; text-align:center;}

/**对话框**/
.php168_dialog { position: absolute;background-color: #ffffff; box-shadow: 0 0 40px rgba(0,0,0,0.7);transition: all 0.3s;width: 400px; height: 200px; }
.php168_dialog .title_bar { padding:12px 15px; background-color: #f7f7f7;border-bottom:1px solid #e5e9eb; cursor: move; }
.php168_dialog .title { color:#282828;font-size:18px;}
.php168_dialog .close { float: right; cursor: pointer; width: 18px; height: 18px; background: url(../close.png) no-repeat center center;opacity:1; }
.php168_dialog .close  span{ display: none; }
.php168_dialog .content_container { width: 100%; }
.php168_dialog .content { padding:5px; }
.php168_dialog .chosebar{padding:20px 20px 20px 20px;}
.php168_dialog .chosebar input{padding:2px 5px;margin:0 6px;height:34px;background:#ffffff;border:1px solid #7795b1;border-radius:5px;}
.php168_dialog .chosebar .active{background:#1b7acf;color:#fff;border:1px solid #1b7acf;}
.php168_dialog .button_bar {text-align:center;clear:both;}
.php168_dialog .button_bar .cancel{width:89px;height:32px;background:url(../cancel.jpg) no-repeat; color:#2c2c2c; border:none;padding:0; margin-left:10px; margin-bottom:2px;  cursor:pointer;letter-spacing:1px;}
.php168_dialog .button_bar .ok{display:inline-block;border:none;background:url(../yes.jpg) no-repeat;color:#2c2c2c;width:89px;height:32px;padding:0; margin-left:10px; margin-bottom:2px;  cursor:pointer}
.foot_negative { margin-bottom:-5px; }
/**模板管理**/
.template_box { background-color:#EEF5FB }
.template_box .max_title { border-bottom:1px solid #BBB; height:30px; padding-top:5px; padding-left:20px; }
.template_box .min_title { float:left; color:#067098; font-weight:bold; }
.template_box .more { float:right; margin-right:20px }
.template_box .list_template .each_template { width:150px; float:left; text-align:center; margin:10px 20px; }
.template_box .list_template { border-bottom:1px dashed #bbb; }
.template_box .list_template .each_template .temp_edit_link { color:#0A0; padding-left:10px; }
.template_selector {width: 168px;max-height: 350px;height:350px;float: left;overflow-y: auto;overflow-x: hidden;margin:10px 5px;border:2px solid #dcdcdc;border-radius:4px;}
.template_selector li { padding: 2px; width: 100%; cursor: pointer; padding-left: 28px; }
.template_selector li.dir { background: url(../dir.gif) no-repeat 5px center; }
.template_selector li.html { background: url(../html.gif) no-repeat 0 center; }
.template_selector li.selected { background-color: #cccccc; }

.input-group .slider-info{margin-bottom: 6px;}
.input-group .ui-widget-header{background:#54ADE8 !important;border-radius:15px !important;-webkit-border-radius:15px !important;}
.input-group  #eq span{height:120px;float:left;margin:15px}
.input-group .ui-widget-content{background:#f0f2f7 !important;border:none !important;border-radius:15px !important;-webkit-border-radius:15px !important;}
.input-group .ui-slider-horizontal{height:8px !important;margin-bottom: 5px;}
.input-group .ui-slider-horizontal .ui-slider-handle{top:-0.57em !important;}
.input-group .ui-state-default, .input-group .ui-widget-content .ui-state-default,.input-group .ui-widget-header .ui-state-default{background:#fff !important;border:3px solid #54ADE8 !important;border-radius:50% !important;-webkit-border-radius:50% !important;-webkit-transition:all 0s;transition:all 0s;-moz-transition:all 0s;-o-transition:all 0s;}
.input-group .ui-slider-vertical{width:8px !important;}
.input-group .ui-slider-vertical .ui-slider-handle{left:-0.5em !important;}
.input-group .ui-slider .ui-slider-handle{cursor:default;height:1.6em;position:absolute;width:1.6em;z-index:2;}
/**快捷首页**/
.sitesbox{background:url(sites_blue_bg.png) repeat-x;}
.siteslist{width:1360px;margin:0 auto;padding:50px 0;overflow:hidden;}
.siteslist li{width:220px;float:left;margin:10px 26px;text-align:center;}
.siteslist li a{font-size:24px;color:#fff;display:block;padding-top:158px;background:url(sites_icons.png) no-repeat;overflow:hidden;transition: .5s .1s;}
.siteslist li a:hover{transform: scale(1.13);-moz-transform: scale(1.13);-ms-transform: scale(1.13);-o-transform: scale(1.13);-webkit-transform: scale(1.13);}
.siteslist li a span{display:block;line-height:70px;}
.siteslist li.s1 a{background-position:0 0;}
.siteslist li.s2 a{background-position:-220px 0;}
.siteslist li.s3 a{background-position:-440px 0;}
.siteslist li.s4 a{background-position:-660px 0;}
.siteslist li.s5 a{background-position:-880px 0;}
.siteslist li.s6 a{background-position:0 -228px;}
.siteslist li.s7 a{background-position:-220px -228px;}
.siteslist li.s8 a{background-position:-440px -228px;}
.siteslist li.s9 a{background-position:-660px -228px;}
.siteslist li.s10 a{background-position:-880px -228px;}
.siteslist li.s11 a{background-position:0 -456px;}
.siteslist li.s12 a{background-position:-220px -456px;}
.siteslist li.s13 a{background-position:-440px -456px;}
.siteslist li.s14 a{background-position:-660px -456px;}
.siteslist li.s15 a{background-position:-880px -456px;}
.siteslist li.s16 a{background-position:0 -684px;}
.siteslist li.s17 a{background-position:-220px -684px;}
.siteslist li.s18 a{background-position:-440px -684px;}
.siteslist li.s19 a{background-position:-660px -684px;}
.siteslist li.s20 a{background-position:-880px -684px;}

.popupbox{z-index:9;position:absolute;top:50%;left:50%;width:700px;height:400px;margin:-200px 0 0 -350px;border: 5px solid #8CB8EA;background-color: #ffffff;display:none;}
.popupbox .title{padding: 5px !important;background-color: #f1f7fd;overflow:hidden;}
.popupbox .title .close{float:right;cursor: pointer;width: 18px;height: 18px;background: url(../close.gif) no-repeat 0px -18px;text-indent:-99999px;opacity:1;}
.popupbd{padding:10px !important;font-size:14px;line-height:28px;color:#333;}
.columntable .title td {color:#2a2a2a;border-bottom:2px solid #cfd1d3;;background:#e8ebf3;white-space: nowrap;vertical-align: middle; }
.columntable td {border-bottom:1px solid #e8ebec;height:40px;}
.formtable .title {line-height:40px; padding:0 0 0 10px; border:none;overflow:hidden;background:#e8ebf3;font-weight:700; }
.formtable .release{cursor:pointer; width:50px;height:23px;line-height:23px;color:#fff;text-align:center;letter-spacing: 2px;background:#429dd7;border:0;text-indent: 4px;display:inline-block;}
/*p8_window*/
.p8_win_layer { display: none; }
.p8_mask_layer { position: fixed; width: 100%; height: 100%; z-index: 99998; top: 0px; left: 0px; }
.p8_win_panel { position: fixed; z-index: 99999; top: 50%; left: 50%; border:1px solid #48AEE0; background:#82D1F8;padding:3px; border-radius: 4px;}
.p8_win_panel .title-panel { position: absolute; height: 36px; width: 100%; border-radius: 4px 4px 0 0; }
.p8_win_panel .title {color:#000; font-size:14px; font-family:"宋体", Arial, Times; text-align:left; line-height:120%; background:#fff; }
.p8_win_panel h3 { font-size: 14px; margin: 0;font-weight:700; }
.p8_win_panel .close-btn { display: block; text-align: center; vertical-align: middle; position: absolute; width: 36px; height: 36px; line-height: 36px; right: 0px; text-decoration: none; font-size: 24px; color: black; background-color: #DBDBDB; border-radius: 2px; z-index: 1; }
.p8_win_panel .close-btn:hover { background-color: #ccc; }
.p8_win_panel .body-panel {background:#fff;padding:15px;}
.p8_win_panel .content, .p8_win_panel .btns { text-align: center; }
.p8_win_panel .content { padding: 14px 5px 5px 5px; font-size: 14px; min-height: 44px; line-height: 22px; }
.p8_win_panel .btns .cancel{width:89px;height:32px; background:url(../cancel.jpg) no-repeat; color:#2c2c2c; border:none;padding:0; margin-left:10px; margin-bottom:2px;  cursor:pointer;letter-spacing:1px;}
.p8_win_panel .btns .ok{border:none;background:url(../yes.jpg) no-repeat;color:#2c2c2c;width:89px;height:32px; padding:0;margin-left:10px; margin-bottom:2px;  cursor:pointer}
@media screen and (max-width: 1600px){
.header-container .header-left .logo{padding:0 20px;}
.header-menu-item>li{font-size:16px;}
.header-nav>li>a{padding:10px 5px;}
}
@media screen and (max-width: 1500px){
.header-container .header-left .logo{margin-right:30px;}
.header-menu-item>li{padding:0 15px;}
}
@media screen and (max-width: 1366px){
.header-container .header-left .logo{margin-right:15px;}
.header-menu-item>li{padding:0 10px;}
}