@charset "utf-8";
body {color:#000;font-size:14px;font-family:"微软雅黑",tahoma,arial,simsun,"宋体";text-align:left; line-height:1.5;background-color:#ffffff;}
html, body, div, ul, li, dl, dt, dd, form, input, select, h1, h2, h3, h4, h5, p { margin:0px; padding:0px; }
ul, li { list-style:none; }
img { border:0px; margin:0px; padding:0px; vertical-align: middle;}
input, select { font-size:12px; }
a{color:#454545;text-decoration:none;}
a:hover{color:#ff0000 !important;text-decoration:none;}
.layout{padding:15px;}
/* 边距 */
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
/* 浮动 */
.fl{float:left!important;}
.fr{float:right!important;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix {zoom:1;}
.clear{clear: both;}
/* 主体 */
.top{width:100%;height:40px;line-height:40px;background:#efefef;}
.topleft a{color:#626262;}
.topright,.topright a{color:#0068b7;}
.banner{width:100%;position:relative;z-index:-1;}
.banner img{width:100%;height:auto;;position:absolute;top:0;left:0;}
.header{padding:465px 0 0;position:relative;}
.navbar-main{background-color: #138c48;position: relative;width: 100%;}
.navlist{width:100%;}
.navlist li{min-width: 10.3%;text-align:center;}
.navbar-nav>li>a {color: #fff !important;font-size:18px;padding-top:18px;padding-bottom:18px;}
.navbar-nav>li>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {color: #ae001e !important;background-color:#499ce0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{color: #ae001e !important;}
.navbar-toggle{border-color: #ae001e;margin-top:15px;position:absolute;top:0;right:0;}
.navbar-toggle .icon-bar {background-color: #ae001e;}
.banner img{width:100%;height:auto;}
.dybox h2{font-size:36px;color:#a10208;margin:10px 0 12px 0;padding-left:24px;letter-spacing:10px;background: url(arr3.png) left center no-repeat;}
.dybox .dycon p{color:#2c2b2b;font-size:16px;line-height:32px;}
.dybox .dycon{border-bottom:1px dashed #dcdcdc;padding-bottom:14px;}
.dybox .pic{position:relative;overflow:hidden;}
.dybox .pic img{transform:rotateY(0deg);transition:.3s all linear;box-shadow:0 0 5px 10px rgba(255,255,255,0,1);}
.dybox .pic:hover img{transform: rotateY(45deg);}
.dybox .text{padding:35px 25px;background:#f6f6f6;}
.dybox .text h3{font-size:22px;color:#a10208;margin-bottom:15px;}
.dybox .text p{font-size:16px;color:#2c2b2b;line-height:36px;margin-bottom:30px;}
.dybtn a{width:33.333%;height:50px;display:block;float:left;line-height:50px;text-align:center;font-size:18px;color:#fff;border-left:7px solid #fbe18e;margin-right:25px;background:#14994d;}
.sbox .hd{height:46px;line-height:46px;margin-bottom:20px;border-bottom:1px solid #6ac486;}
.sbox .hd .title{width:200px;float:left;font-size:20px;color:#fff;padding-left:30px;background: url(hdbg2.png) no-repeat;}
.sbox .hd .more{float:right;}
.sbox .hd .more a{color:#535353;}
.sbox .bd .spic{width:580px;float:left;}
.sbox .bd .slist{width:575px;float:right;}
.duben{width:100%;background: url(bg4.png) no-repeat;background-size:cover;}
.duben .pic{width:130px;height:185px;margin:80px auto 0;}
.nrtitle {font-size: 24px;color: #cd0603;line-height: 40px;margin-bottom:20px;font-weight: bold;text-align: center;}
.neirong{font-size:16px;line-height:30px;margin-bottom:10px;}
.neirong img{max-width:100%;height:auto !important;}
.showtips{text-align:right;}
.footer{height:150px;background:#138c48;}
.footer .copyright{color:#fff;font-size:12px;text-align:center;line-height:30px;padding-top:25px;}
.footer .copyright a{color:#fff;}
#page{text-align: center;font-size: 14px;padding:40px 0;}
#page span{display:inline-block;line-height:31px;padding:0 12px;background:#f3f3f3;color:#333;}
#page .s2{background:#138c48;color:#fff;} 
#page a{display:inline-block;line-height:31px;padding:0 12px;background:#f3f3f3;color: #333;}
#page a:hover{color:#fff; background:#ab1f24;}
@media (max-width: 767px){
	.dybtn a{width:100%;margin-bottom:10px;}
	.duben .pic{width:90%;text-align:center;margin:20px auto;}
	.duben .pic img{max-width:100%;height:auto;}
}